<template>
    <div class="contact-page">
        <ContactCard
                dir="ltr"
                class="contact-page_card"
                v-for="(contact, i) in contacts"
                :key="i"
                :name="contact.name"
                :email="contact.email"
                :phone="contact.phone"
                :skype="contact.skype"
                :avatar="contact.avatar"
        />
    </div>
</template>

<script>
    import ContactCard from "@/components/ContactCard";

    export default {
        data() {
            return {
                contacts: [
                    {
                        name: "Dietmar Stockfisch",
                        email: "ds@3primefeed.com",
                        phone: "+421 917 823 217",
                        skype: "trade.beetfeed",
                        avatar: "../../img/contact/contact_1.jpg"
                    }
                ]
            };
        },
        components: {
            ContactCard
        }
    };
</script>

<style lang="stylus" scoped>
    .contact-page {
        padding: 2em 3em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2em;
        place-items: center;
        &_card {
            max-width: 500px;
        }

        @media screen and (max-width: 550px) {
            & {
                padding: 2em 0;
            }
        }
    }
</style>

