<template>
    <div class="page-single">
        <v-expansion-panel popout>
            <v-expansion-panel-content v-for="(label,i) in labels" :key="i" :class="textAlign">
                <div slot="header">{{ label.title }}</div>
                <v-card>
                    <div class="media">
                        <v-card-media class="media_label" :src="label.labelPath" height="400px" :alt="label.title" contain>
                        </v-card-media>
                        <v-card-media class="media_sample" :src="label.samplePath" height="400px" :alt="label.title">
                        </v-card-media>
                    </div>
                    <v-card-title primary-title>
                        <div>
                            <!-- <h3 class="headline mb-0">{{label.title}}</h3> -->
                            <div v-html="label.desc"></div>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <v-btn flat color="orange">{{ $t("single.specs") }}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </div>
</template>

<script>
export default {
  data() {
    return {
      labels: this.$t("single.labels")
    };
  },
  computed: {
    textAlign() {
      const languages = ["ar", "fa"];
      if (languages.some(lang => this.$nuxt.$route.name.includes(lang))) {
        return "text-xs-right";
      } else {
        return "text-xs-left";
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.page-single {
    height: 100%;
    display: grid;
    place-items: center;
}

.expansion-panel {
    margin: 2em 0;
    width: 80%;

    @media screen and (max-width: 600px) {
        margin: 1em;
        width: 90%;
    }
}

.media {
    display: grid;
    grid-template-columns: 400px 1fr;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    @media screen and (max-width: 510px) {
        .media_sample {
            display: none;
        }
    }
}
</style>


