<template>
    <v-card>
        <v-card-media :src="avatar" height="300px" class="hallo?">
            <v-card-title class="white--text avatar-title">
                <div class="display-2">{{ name }}</div>
            </v-card-title>
        </v-card-media>
        <v-list two-line>
            <v-list-tile @click="openPhone()" class="avatar-tile">
                <v-list-tile-action>
                    <v-icon color="primary">phone</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ phone }}</v-list-tile-title>
                    <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider inset></v-divider>
            <v-list-tile @click="openMail()">
                <v-list-tile-action>
                    <v-icon color="primary">mail</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ email }}</v-list-tile-title>
                    <v-list-tile-sub-title>Personal</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider inset></v-divider>
            <v-list-tile @click="openSkype()">
                <v-list-tile-action>
                    <v-icon color="primary">videocam</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ skype }}</v-list-tile-title>
                    <v-list-tile-sub-title>Skype</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-card>
</template>

<script>
export default {
  props: ["name", "email", "phone", "skype", "avatar"],
  methods: {
    openPhone() {
      window.location = `tel:${this.phone}`;
    },
    openMail() {
      window.location = `mailto:${
        this.email
      }?subject=Subject&body=Message%20goes%20here`;
    },
    openSkype() {
      window.location = `skype:${this.skype}?chat`;
    }
  }
};
</script>

<style lang="stylus" scoped>
.card {
    width: 90%;
    height: 100%;
}

.avatar-title {
    margin: auto auto 30px;
}
</style>
