<template>
    <div>
        <v-btn color="white" flat dark @click="dialog = true">{{btn}}</v-btn>
        <v-dialog v-model="dialog" width="350">
            <v-card>
                <slot></slot>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        props: ["btn"],
        data() {
            return {
                dialog: false
            };
        }
    };
</script>

<style lang="stylus" scoped>
    .card
        padding: 1em
</style>
