<template>
    <v-card>
        <v-card-media
                :src="img"
                height="150px"
                contain
        >
        </v-card-media>
        <v-card-title primary-title>
            <div>
                <div class="headline">{{title}}</div>
            </div>
            <v-spacer></v-spacer>
            <v-card-actions>
                <v-btn icon @click.native="show = !show">
                    <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card-title>
        <v-slide-y-transition>
            <v-card-text v-show="show">
                {{desc}}
            </v-card-text>
        </v-slide-y-transition>
    </v-card>
</template>

<script>
    export default {
        props: ["title", "desc", "img"],
        data: () => ({
            show: false
        })
    };
</script>

<style lang="stylus" scoped>
    .card {
        width: 100%;
        height: 100%;
    }

    .card__media {
        background-color: #FFD34E;
    }

    .card__title {
        flex-wrap: inherit !important;
    }
</style>
