<template>
    <nav>
        <ul class="headline">
            <li>
                <nuxt-link :to="localePath('index')"><img src="~assets/img/global/logo.png" alt="3Prime Logo">
                </nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('index')">{{ $t("links.home") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('about')">{{ $t("links.about") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('samples')">{{ $t("links.samples") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('single-feed-ingredients')">{{ $t("links.single") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('complete-feed-rations')">{{ $t("links.complete") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('service')">{{ $t("links.service") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('options')">{{ $t("links.options") }}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="localePath('contact')">{{ $t("links.contact") }}</nuxt-link>
            </li>
        </ul>
    </nav>
</template>

<style lang="stylus" scoped>
    @import '~assets/style/variables.styl';

    nav {
        font-family: 'Barlow Condensed';
        font-size: 22px;
        text-align: center;
        padding: 1em;
    }

    ul {
        list-style: none;
        display: grid;
        place-items: center;
        grid-gap: 18px;
    }

    li {
        transition: ease-in 0.1s;
    }

    li:hover:not(:first-child) {
        transform: scale(1.05);
    }

    li:first-child {
        width: 50%;
        border-radius: 50%;
    }

    img {
        width: 100%;
    }

    a.nuxt-link-exact-active {
        color: $orange;
    }

    a {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: #FFFAD5;
        font-weight: 500;
    }
</style>
