<template>
    <div class="service-page">
        <div class="service-page_intro">
            <h2>{{ $t("service.intro.title") }}</h2>
            <p>{{ $t("service.intro.info") }}</p>
        </div>
        <div class="europe">
            <h3>{{ $t("service.eu") }}</h3>
            <CentralEurope class="europe-svg"/>
        </div>
        <div class="world">
            <h3>{{ $t("service.world") }}</h3>
            <!-- <World/> -->
        </div>
        <div class="service-page_cards">
            <ServiceCard
                    v-for="(card, i) in cards"
                    :key="i"
                    :title="card.title"
                    :desc="card.desc"
                    :img="card.img"/>
        </div>
    </div>
</template>

<script>
    import ServiceCard from "@/components/ServiceCard";
    import CentralEurope from "@/components/CentralEurope";
    // import World from "@/components/World";

    export default {
        data() {
            return {
                cards: this.$t("service.cards")
            };
        },
        components: {
            ServiceCard,
            CentralEurope
            // World
        }
    };
</script>

<style lang="stylus" scoped>
    .service-page {
        padding: 2em 3em;
        display: grid;
        grid-gap: 3em;

        @media screen and (max-width: 500px) {
            padding: 1em;
    }

    }

    .europe, .world {
        width: 100%;
        display: grid;
        place-items: center;
        grid-gap: 2em;
    }

    .europe-svg {
        width: 500px;

        @media screen and (max-width: 650px) {
            width: 95%;
        }

    }

    .service-page_cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 2em;
        place-items: center;

        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
    }

    }
</style>

