<template>
    <v-app id="inspire">
        <v-navigation-drawer
                fixed
                v-model="drawer"
                app
        >
            <TheHeading class=".navigation-links"/>
        </v-navigation-drawer>
        <v-toolbar color="error" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{ rewriteRoute | capitalize }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu bottom left>
                <v-btn icon slot="activator">
                    <v-icon>language</v-icon>
                </v-btn>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('en')">English</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('fr')">Français</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('es')">Español</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('pt')">Português</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('ja')">日本語</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('sw')">Kiswahili</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('ar')">العربية</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('bn')">বাংলা</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-title>
                            <nuxt-link :to="switchLocalePath('fa')">فارسی</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-content>
            <nuxt :dir="textDirection"/>
        </v-content>
        <v-footer class="pl-3" color="secondary" app>
            <span class="white--text copyright">&copy; {{ new Date().getFullYear() }}</span>
            <v-spacer></v-spacer>
            <Dialog :btn="$t('footer[0]')">
                <v-card-title>
                    <span class="headline">{{ $t('footer[0]') }}</span>
                </v-card-title>
                <v-card-text>
                    <v-icon color="error" class="pr-2">email</v-icon>
                    <a href="mailto:info@beetfeed.com?Subject=Hello" target="_top">INFO@BEETFEED.COM</a><br>
                    <v-icon color="error" class="pr-2">phone</v-icon>
                    <a href="tel:00421917823217">+421 917 823 217</a><br>
                    <v-icon color="error" class="pr-2">phone</v-icon>
                    <a href="tel:00421907816024">+421 907 816 024</a><br>
                    <v-icon color="error" class="pr-2">videocam</v-icon>
                    <a href="skype:trade.beetfeed?call">TRADE.BEETFEED</a><br>
                    <v-icon color="error" class="pr-2">videocam</v-icon>
                    <a href="skype:richardstewartotoole?call">RICHARDSTEWARTOTOOLE</a><br>
                    <v-icon color="error" class="pr-2">thumb_up</v-icon>
                    <a href="https://www.facebook.com/beet.feed.1" target="_blank">FACEBOOK.COM/BEET.FEED.1</a>
                </v-card-text>
            </Dialog>
            <Dialog :btn="$t('footer[1][0]')">
                <v-card-title>
                    <span class="headline">{{ $t('footer[1][0]') }}</span>
                </v-card-title>
                <v-card-text>
                    <a href="https://www.google.com/maps/place/Michalsk%C3%A1+386%2F12,+811+01+Bratislava/@48.1446194,17.1047039,17z/data=!3m1!4b1!4m5!3m4!1s0x476c895cc4eaa675:0x50fe314a2c339a6!8m2!3d48.1446158!4d17.1068926?hl=en"
                       target="_blank" v-html="$t('footer[1][1]')"></a>
                </v-card-text>
                <v-card-title>
                    <span class="headline">{{ $t('footer[1][2]') }}</span>
                </v-card-title>
                <v-card-text v-html="$t('footer[1][3]')"></v-card-text>
            </Dialog>
            <Dialog :btn="$t('footer[2]')">
                <v-card-title>
                    <span class="headline">{{ $t('footer[2]') }}</span>
                </v-card-title>
                <v-card-text>
                    Beet&Feed Ingredients A.S.<br><a href="http://beetfeed.com/" target="_blank">WWW.BEETFEED.COM</a>
                </v-card-text>
            </Dialog>
            <v-spacer class="spacer-right"></v-spacer>
        </v-footer>
    </v-app>
</template>

<script>
import TheHeading from "@/components/TheHeading";
import Dialog from "@/components/Dialog";

export default {
  created() {
    // console.log(this.$nuxt.$i18n.locale);
  },
  components: {
    TheHeading,
    Dialog
  },
  data: () => ({
    drawer: null
  }),
  props: {
    source: String
  },
  computed: {
    rewriteRoute() {
      // replace dashes with spaces
      let routeName = this.$nuxt.$route.name.replace(/-/g, " ");
      // remove last word - lang indication
      routeName = routeName.substring(0, routeName.lastIndexOf(" "));
      return routeName;
    },
    textDirection() {
      const languages = ["ar", "fa"];
      if (languages.some(lang => this.$nuxt.$route.name.includes(lang))) {
        return "rtl";
      } else {
        return "ltr";
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
@import '~assets/style/variables.styl';

a {
    text-decoration: none;
}

.navigation {
    &-drawer {
        background-color: $blue;
        display: grid;
        place-items: center;
    }
}

.spacer-right {
    display: none;
}

@media screen and (max-width: 500px) {
    .copyright {
        display: none;
    }

    .spacer-right {
        display: block;
    }
}
</style>
