<template>
    <div class="about-page">
        <div class="about-page_intro">
            <h2>{{ $t("about.intro.title") }}</h2>
            <p>{{ $t("about.intro.info") }}</p>
        </div>

        <v-stepper v-model="e1">
            <v-stepper-header flat>
                <v-stepper-step step="1" :complete="e1 > 1">
                    {{ stepper[0].title }}
                </v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="e1 > 2">
                    {{ stepper[1].title }}
                </v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3">
                    {{ stepper[2].title }}
                </v-stepper-step>
            </v-stepper-header>
            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-card color="accent lighten-1" flat class="mb-5 stepper-cnt" height="auto">
                        {{ stepper[0].desc }}
                        <img :src="stepper[0].img" alt="Sourcing">
                    </v-card>
                    <v-btn color="primary" @click.native="e1 = 2">{{ $t("about.continue") }}</v-btn>
                </v-stepper-content>
                <v-stepper-content step="2">
                    <v-card color="accent lighten-1" flat class="mb-5 stepper-cnt" height="auto">
                        {{ stepper[1].desc }}
                        <img :src="stepper[1].img" alt="Packaging">
                    </v-card>
                    <v-btn color="primary" @click.native="e1 = 3">{{ $t("about.continue") }}</v-btn>
                </v-stepper-content>
                <v-stepper-content step="3">
                    <v-card color="accent lighten-1" flat class="mb-5 stepper-cnt" height="auto">
                        {{ stepper[2].desc }}
                        <img :src="stepper[2].img" alt="Delivering">
                    </v-card>
                    <v-btn color="primary" @click.native="e1 = 1">{{ $t("about.continue") }}</v-btn>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>

    </div>
</template>

<script>
    export default {
        created() {
        },
        data() {
            return {
                stepper: this.$t("about.stepper"),
                e1: 0
            };
        }
    };
</script>

<style lang="stylus" scoped>
    .about-page {
        padding: 2em;
        display: grid;
        grid-gap: 1em;
    }

    .stepper, .stepper__header {
        box-shadow: none;
    }

    .stepper-cnt {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
        grid-gap: 1em;

        & img {
            height: 150px;
        }

    }
</style>

