<template>
    <div class="homepage">
        <div class="homepage_intro">
            <h1>{{ $t("home.intro.title") }}</h1>
            <p class="headline">{{ $t("home.intro.info") }}</p>
            <v-btn color="primary" dark @click="dialog = true">{{ $t("home.intro.play") }}</v-btn>
            <v-dialog v-model="dialog" width="80%">
                <v-card class="iframe-container">
                    <iframe :src="vimeo" width="640" height="360" frameborder="0" webkitallowfullscreen
                            mozallowfullscreen allowfullscreen></iframe>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                dialog: false,
                vimeo: `https://player.vimeo.com/video/${this.$t(
                    "home.intro.vimeo"
                )}?color=F9D366&title=0&byline=0&portrait=0`
            };
        }
    };
</script>

<style lang="stylus" scoped>
    .iframe-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .iframe-container iframe, .iframe-container object, .iframe-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .homepage {
        height: 100%;
        min-height: 585px;
        display: grid;
        grid-template-columns: 120px auto 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        background-image: url('~assets/img/home/bg-bottom.png');
        background-size: contain;
        background-position: bottom;

        &_intro {
            grid-column: 2 / span 1;
        }

        @media screen and (max-width: 685px) {
            padding: 0 1em;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.5fr;
            min-height: 460px;

            &_intro {
                grid-column: span 1;
            }

        }

    }
</style>
