<template>
    <div class="complete-page">
        <v-card>
            <v-card-title dir="ltr">
                Feed Type of 1 Cube (4x4cm)
                <v-spacer></v-spacer>
                <v-text-field
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                        v-model="search"
                ></v-text-field>
            </v-card-title>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    :search="search"
                    :rows-per-page-items="rows"
            >
                <template slot="items" slot-scope="props">
                    <td class="subheading">{{ props.item.name }}</td>
                    <td class="text-xs-center subheading">{{ props.item.first }}</td>
                    <td class="text-xs-center subheading">{{ props.item.second }}</td>
                    <td class="text-xs-center subheading">{{ props.item.third }}</td>
                    <td class="text-xs-center subheading">{{ props.item.fourth }}</td>
                    <td class="text-xs-center subheading">{{ props.item.fifth }}</td>
                    <td class="text-xs-center subheading">{{ props.item.sixth }}</td>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning" dir="ltr">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
        </v-card>
        <v-alert type="info" :value="true">
            {{$t("complete.info")}}
        </v-alert>
    </div>
</template>

<style lang="stylus" scoped>
    .alert {
        margin: 0em;
    }

    table.table tbody td:nth-child(even) {
        background: rgba(white, 0.3);
    }
</style>


<script>
    export default {
        methods: {
            tableHead() {
                const languages = ["ar", "fa"];
                if (languages.some(lang => this.$nuxt.$route.name.includes(lang))) {
                    return "right";
                } else {
                    return "left";
                }
            }
        },
        data() {
            return {
                search: "",
                rows: [{text: "All", value: -1}, 5, 10, 25],
                headers: [
                    {
                        text: this.$t("complete.headers[0]"),
                        align: this.tableHead(),
                        sortable: true,
                        value: "name"
                    },
                    {
                        text: this.$t("complete.headers[1]"),
                        value: "first",
                        align: "right"
                    },
                    {
                        text: this.$t("complete.headers[2]"),
                        value: "second",
                        align: "right"
                    },
                    {
                        text: this.$t("complete.headers[3]"),
                        value: "third",
                        align: "right"
                    },
                    {
                        text: this.$t("complete.headers[4]"),
                        value: "fourth",
                        align: "right"
                    },
                    {
                        text: this.$t("complete.headers[5]"),
                        value: "fifth",
                        align: "right"
                    },
                    {text: this.$t("complete.headers[6]"), value: "sixth", align: "right"}
                ],
                items: [
                    {
                        value: false,
                        name: this.$t("complete.items[0]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "✓",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[1]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "✓",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[2]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "✓",
                        fifth: "",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[3]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "",
                        fifth: "",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[4]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[5]"),
                        first: "",
                        second: "",
                        third: "✓",
                        fourth: "",
                        fifth: "",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[6]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[7]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[8]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "✓",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[9]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "✓",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[10]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "✓",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[11]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[12]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[13]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[14]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "",
                        fifth: "",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[15]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: "✓"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[16]"),
                        first: "✓",
                        second: "✓",
                        third: "✓",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[17]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[18]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[19]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[20]"),
                        first: "",
                        second: "",
                        third: "",
                        fourth: "",
                        fifth: "✓",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[21]"),
                        first: "89%",
                        second: "89%",
                        third: "89%",
                        fourth: "89%",
                        fifth: "89%",
                        sixth: "89%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[22]"),
                        first: "13.5%",
                        second: "15%",
                        third: "15%",
                        fourth: "13%",
                        fifth: "14.1%",
                        sixth: "10.5%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[23]"),
                        first: "3.5%",
                        second: "3.5%",
                        third: "3%",
                        fourth: "2.8%",
                        fifth: "5.4%",
                        sixth: "2.5%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[24]"),
                        first: "15%",
                        second: "15%",
                        third: "14.5%",
                        fourth: "21%",
                        fifth: "17%",
                        sixth: "21%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[25]"),
                        first: "7.5%",
                        second: "7.7%",
                        third: "9%",
                        fourth: "7.3%",
                        fifth: "8.5%",
                        sixth: "7.5%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[26]"),
                        first: "",
                        second: "",
                        third: "0.4%",
                        fourth: "0.1%",
                        fifth: "0.35%",
                        sixth: "0.1%"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[27]"),
                        first: "1500 I.U.",
                        second: "1500 I.U.",
                        third: "1500 I.U.",
                        fourth: "",
                        fifth: "1400 I.U.",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[28]"),
                        first: "1500 I.U.",
                        second: "1500 I.U.",
                        third: "1500 I.U.",
                        fourth: "",
                        fifth: "1400 I.U.",
                        sixth: ""
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[29]"),
                        first: "10.4 MJ/kg",
                        second: "10.7 MJ/kg",
                        third: "10.8 MJ/kg",
                        fourth: "9.8 MJ/kg",
                        fifth: "13 MJ/kg",
                        sixth: "8.9 MJ/kg"
                    },
                    {
                        value: false,
                        name: this.$t("complete.items[30]"),
                        first: "68.9%",
                        second: "68.6%",
                        third: "67.9%",
                        fourth: "62.3%",
                        fifth: "71.4%",
                        sixth: "64.8%"
                    }
                ]
            };
        }
    };
</script>