<template>
    <div class="options-page">
        <div class="options-page_intro">
            <h2>{{ $t("options.intro.title") }}</h2>
            <p>{{ $t("options.intro.info") }}</p>
        </div>
        <div class="options-page_selects">
            <div class="transport">
                <v-select
                        :items="transports"
                        v-model="transport"
                        label="Select"
                        single-line
                        auto
                        append-icon="directions_boat"
                        hide-details
                ></v-select>
                <img class="port_img" :src="`../../img/options/transport/${transportHandle[0]}`"
                     :alt="transportHandle[1]">
            </div>
            <div class="port">
                <v-select
                        :items="ports"
                        v-model="port"
                        label="Select"
                        single-line
                        auto
                        append-icon="map"
                        hide-details
                ></v-select>
                <img class="port_img" :src="`../../img/options/ports/${portHandle[0]}`" :alt="portHandle[1]">
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      transport: "Container Ship",
      transports: this.$t("options.transport"),
      port: "Rotterdam",
      ports: this.$t("options.ports")
    };
  },
  computed: {
    transportHandle() {
      switch (this.transport) {
        case "Container Ship":
          return ["container.jpg", "Container Ship"];
          break;
        case "Big Bag":
          return ["bag.jpg", "Big Bags"];
          break;
        case "Bulk Carrier":
          return ["bulk.jpg", "Big Bags"];
          break;
        default:
          break;
      }
    },
    portHandle() {
      switch (this.port) {
        case "Antwerp":
          return ["antwerp.jpg", "Port of Antwerp"];
          break;
        case "Bremerhaven":
          return ["bremerhaven.jpg", "Port of Bremerhaven"];
          break;
        case "Hamburg":
          return ["hamburg.jpg", "Port of Hamburg"];
          break;
        case "Koper":
          return ["koper.jpg", "Port of Koper"];
          break;
        case "Rotterdam":
          return ["rotterdam.jpg", "Port of Rotterdam"];
          break;
        default:
          break;
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.options-page {
    padding: 2em 3em;
    display: grid;
    grid-gap: 0;
    place-items: center;

    @media screen and (max-width: 570px) {
        padding: 1em;
    }

    &_selects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
        grid-gap: 1em;
        place-items: center;

        @media screen and (max-width: 700px) {
            grid-gap: 0;
        }
    }
}

.transport, .port {
    width: 100%;
    display: grid;
    grid-gap: 0.3em;

    &_img {
        width: 100%;
    }
}
</style>

