<template>
    <v-carousel>
        <v-carousel-item v-for="(sample, i) in samples" :src="`../../img/samples/${sample}`"
                         :key="i"></v-carousel-item>
    </v-carousel>
</template>

<script>
    export default {
        data() {
            return {
                samples: [
                    "1.jpg",
                    "2.jpg",
                    "3.jpg",
                    "4.jpg",
                    "5.jpg",
                    "6.jpg",
                    "7.jpg",
                    "8.jpg"
                ]
            };
        }
    };
</script>

<style lang="stylus" scoped>
    .carousel {
        height: 100%;
    }
</style>
