<template>
    <div class="outer-div">
        <div id="truck-animation">
            <div class="truck-container truck-anim">
                <div class="truck">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 35.6 49.2" style="enable-background:new 0 0 35.6 49.2;" xml:space="preserve">
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M170.5-0.4c13.1,0,23.8,10.7,23.8,23.8  c0,13.1-10.7,23.8-23.8,23.8c-13.1,0-23.8-10.7-23.8-23.8C146.7,10.3,157.3-0.4,170.5-0.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M170.6,14.5c4.9,0,8.8,3.9,8.8,8.8c0,4.9-3.9,8.8-8.8,8.8  c-4.9,0-8.8-3.9-8.8-8.8C161.8,18.5,165.7,14.5,170.6,14.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M170.8,19.6c2,0,3.6,1.6,3.6,3.6s-1.6,3.6-3.6,3.6  c-2,0-3.6-1.6-3.6-3.6S168.8,19.6,170.8,19.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M170.8,22.1c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1  c-0.6,0-1.1-0.5-1.1-1.1C169.7,22.6,170.2,22.1,170.8,22.1"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M166.6,17.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  c-0.6,0-1.2-0.5-1.2-1.2C165.4,18.2,166,17.7,166.6,17.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M172.6,16.6c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  c-0.6,0-1.2-0.5-1.2-1.2C171.4,17.1,171.9,16.6,172.6,16.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M176.4,20.8c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  c-0.6,0-1.2-0.5-1.2-1.2C175.2,21.4,175.7,20.8,176.4,20.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M174.8,26.4c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  s-1.2-0.5-1.2-1.2C173.6,27,174.2,26.4,174.8,26.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M168.8,27.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  s-1.2-0.5-1.2-1.2C167.6,28.2,168.2,27.7,168.8,27.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M157.9,24.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C156.4,24.9,157.1,24.2,157.9,24.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M158.6,17.5c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  s-1.6-0.7-1.6-1.6C157.1,18.2,157.8,17.5,158.6,17.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M162.2,12c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C160.6,12.7,161.3,12,162.2,12"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M168.1,8.9c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C166.5,9.6,167.2,8.9,168.1,8.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M174.7,9.4c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C173.1,10.1,173.8,9.4,174.7,9.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M180.2,13c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C178.6,13.7,179.4,13,180.2,13"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M183.3,19c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C181.7,19.7,182.4,19,183.3,19"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M183,25.7c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C181.4,26.4,182.1,25.7,183,25.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M179.3,31.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  s-1.6-0.7-1.6-1.6C177.7,31.9,178.4,31.2,179.3,31.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M173.2,34.3c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C171.6,35,172.3,34.3,173.2,34.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M166.8,33.7c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C165.2,34.4,165.9,33.7,166.8,33.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M161.3,30.3c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6  c-0.9,0-1.6-0.7-1.6-1.6C159.7,31,160.5,30.3,161.3,30.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M164.9,23.2c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2  c-0.6,0-1.2-0.5-1.2-1.2C163.7,23.7,164.2,23.2,164.9,23.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#888FA7;" d="M157,6.4l1.7,1.4c0.4,0.3,0.4,0.8,0.1,1.2v0  c-0.3,0.4-0.9,0.4-1.3,0.1l-1.7-1.4c-0.4-0.3-0.4-0.8-0.1-1.2l0,0C156,6.1,156.6,6.1,157,6.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M157,6.4l0.2,0.1c0,0.1,0.1,0.2,0.1,0.3c0,0.6-0.5,1.1-1.1,1.1  l-0.3-0.3c-0.4-0.3-0.4-0.8-0.1-1.2l0,0C156,6.1,156.6,6.1,157,6.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M18.7,29.3c0,0,0-0.2,0.1-0.3c0.2-0.1,0.3,0,0.3,0.1c0,0.1,0,0.2,0,0.2  S18.8,29.4,18.7,29.3"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="18.5,29.3 18.3,28.8 18.6,28.8 18.6,29.4 "></polygon>
                  <path style="fill:#A6A8AB;" d="M24.1,26.9c0,0,0.1,0,0.1-0.1c0.2-0.1,0.6-0.3,0.8-0.4c0.2-0.2,0.7-0.6,0.7-0.6l0,0  c0,0-0.5,0.4-0.7,0.6c-0.2,0.1-0.6,0.3-0.8,0.4C24.2,26.9,24.1,26.9,24.1,26.9L24.1,26.9z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M32.3,40l1.3,0c0.1,0,0.2-0.1,0.2-0.2l0,0  c0-0.1-0.1-0.2-0.2-0.2l-1.3,0c-0.1,0-0.2,0.1-0.2,0.2v0C32.1,39.9,32.2,40,32.3,40"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#A9A84E;" d="M25.8,33.2c0,0-0.2,0.1-0.3,0.2c0,0.1,0,0.3,0,0.3  c0,0.1,0,0.2,0,0.2l0.1,0l0-0.3c0,0,0,0,0.1,0c0.1,0,0.2,0,0.2,0L25.8,33.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#E83725;" d="M26,34.1c0,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3  c0,0.1,0,0.3,0,0.3l0.2,0v-0.3c0,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.1-0.1L26,34.1z"></path>
                  <rect x="31.6" y="39.8" transform="matrix(-0.9996 2.708847e-002 -2.708847e-002 -0.9996 67.1723 80.1454)" style="fill-rule:evenodd;clip-rule:evenodd;" width="2.8" height="1.5"></rect>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="24,28.8 25.3,30.7 26,30.2 24.8,28.3 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M19.7,38.3l7.6-0.3l0-1.1l-0.2,0l-0.6-0.4L25.8,33l0.3-0.3  c0,0-0.2-0.6-0.5-1.1c-0.3-0.5-0.5-0.8-0.5-0.8l0-0.1l0.8-0.5l0.1,0c0,0,0.6,1,0.7,1.1c0.1,0,2.2,0.4,2.2,0.4l0.7,6.7l0.2,0l0.2,0.4  L30,38.8c0,0-7.8,1-8,1S19.4,39.4,19.7,38.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M28.7,34.7c0,0,0-0.2-0.1-0.3c0-0.1-0.1-0.2-0.1-0.2l0-0.2l-0.1,0l0,0.2  c0,0-0.2,0.1-0.2,0.3c-0.1,0.2,0,0.2,0,0.2l0.2,0L28.7,34.7z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M12.2,30.5l0.6,0l0,0.2l-0.6,0l0,0c0,0.1,0,0.1-0.1,0.1h0  c-0.1,0-0.1,0-0.1-0.1l0-0.2c0-0.1,0-0.1,0.1-0.1h0C12.1,30.4,12.1,30.5,12.2,30.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M11.9,28.4l0.6,0l0,0.2l-0.6,0l0,0c0,0.1,0,0.1-0.1,0.1h0  c-0.1,0-0.1,0-0.1-0.1l0-0.2c0-0.1,0-0.1,0.1-0.1h0C11.9,28.3,11.9,28.3,11.9,28.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M12.7,31.1l-0.4-3.6c0,0,0.7-0.1,0.8-0.1c0.1,0,0.3,0.1,0.3,0.3  c0.1,0.3,0.4,3.4,0.4,3.4S13,31.4,12.7,31.1"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M13.2,33.1h6.3l0.4,0l0,0.1L19.8,34l-0.5,0.9  c-0.3-0.1-0.3-0.3-0.4-0.5h-5.7V33.1z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M19.4,35.1c0.1,0,0.2,0.1,0.2,0.3c0,0.1-0.1,0.3-0.2,0.3  c-0.1,0-0.2-0.1-0.2-0.3C19.2,35.2,19.3,35.1,19.4,35.1"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="29.9,40.3 30.1,39.2 25.4,39.2 23.5,41.7 24.2,45.5   25.6,45.1 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M2.9,41.5c0,0,0.2,1.7,0.2,1.9c0,0.2,4,2,4,2s0.9-0.1,1.3,0  c0.4,0,0.7-1.9,0.6-2C8.9,43.3,6.6,40.8,2.9,41.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M2.2,41.6c0,0,0.1,0.2,0.2,0.2c0.1,0,2.4,0,2.4,0s1.2,0,1.8,0.5  c0.6,0.5,1.2,1.1,1.4,2.1l0,2.3l16.3,0l0-4.3c0,0,0.1-0.9,0.6-1.6c0.5-0.6,1.1-1,1.6-1.2c0.5-0.2,1.7-0.1,2.1-0.1c0.4,0,1.7,0,1.7,0  l-0.3-0.7c0,0-0.4,0-0.6-0.2c-0.2-0.2-0.2-0.4-0.2-0.4l-9.4,0.5c0,0-0.5-3.6-0.6-3.8c-0.1-0.2-0.1-0.4-0.6-0.5  c-0.6,0-8.2-0.2-8.7-0.2c-0.6,0-1.4,0-3.2,0.1C5,34.5,3.3,34.6,3,34.7c-0.3,0.1-0.4,0.2-0.4,0.5C2.5,35.5,2,39.2,2.2,41.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M19.8,37.5L19.8,37.5L19.8,37.5c-0.1-0.1-0.6-0.1-0.7-0.1  c0,0-0.1,0-0.1-0.1c0,0-0.1-0.1-0.1-0.2c0-0.2-0.2-2-0.2-2.2c0,0,0-0.1,0.1-0.1c0.1,0,0.5,0,0.5,0c0,0,0,0,0,0c0,0,0-0.1,0-0.1l0,0  c-0.1,0-0.4,0-0.6,0c-0.2,0.1-0.2,0.3-0.2,0.3l0,0l0,0c0,0,0.2,2,0.2,2.2c0,0.1,0.1,0.2,0.1,0.2c0.1,0.1,0.2,0.1,0.2,0.1  C19.1,37.6,19.8,37.6,19.8,37.5L19.8,37.5z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#E2B529;" d="M7.8,43.7C7.9,43.9,8,44.1,8,44.4l0,2.3l16.3,0l0-3.1H7.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M10.1,34.2L10.1,34.2c-0.1,0.2-0.7,3.6-0.8,4  c0,0.2-0.2,0.3-0.3,0.4c-0.2,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.6,0-1.2,0c-0.3,0-0.6,0-0.9,0c-1.2,0-4.2,0-4.3,0l0,0.1l0,0.1  c0,0,3.1,0,4.3,0c0.3,0,0.6,0,0.9,0c0.6,0,1,0,1.2,0c0.2,0,0.4-0.1,0.6-0.3c0.2-0.1,0.3-0.3,0.4-0.5C9.6,37.8,10.2,34.2,10.1,34.2  L10.1,34.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M34.3,41.2l0.1,2.6L34.1,44l-0.4-0.1L32.5,42  c0,0-0.1-0.8-0.1-0.8c0,0,1-0.2,1-0.2L34.3,41.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M33.8,43.9L33.8,43.9L32.5,42c0,0-0.1-0.8-0.1-0.8  c0,0,1-0.2,1-0.2l0.6,0.1c0,0.4,0.1,2.8,0.1,2.8H33.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M29.6,40c2.4,0,4.3,1.9,4.3,4.3c0,2.4-1.9,4.3-4.3,4.3  c-2.4,0-4.3-1.9-4.3-4.3C25.3,41.9,27.2,40,29.6,40"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M9.1,34.2c-0.3,0-0.6,0-1,0v0.6c0,0.3,0.2,0.5,0.5,0.5h0  c0.3,0,0.5-0.2,0.5-0.5V34.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#7A7F94;" d="M17.2,38.4h2.4c0.1,0,0.2,0.1,0.2,0.2v0.7  c0,0.1-0.1,0.2-0.2,0.2h-2.4c-0.1,0-0.2-0.1-0.2-0.2v-0.7C17,38.5,17.1,38.4,17.2,38.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFD349;" d="M25,40.8L25,40.8c0.4-0.5,0.7-0.8,1.1-1H2.1c0,0.3,0,0.7,0,1H25  z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M3.6,35c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5  c-0.3,0-0.5-0.2-0.5-0.5C3,35.2,3.3,35,3.6,35"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#ACBDD1;" d="M3.7,39.9c0.5,0,0.9,0.2,0.9,0.4c0,0.2-0.4,0.4-0.9,0.4  s-0.9-0.2-0.9-0.4C2.8,40.1,3.2,39.9,3.7,39.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#F48120;" d="M3.7,40c0.2,0,0.3,0.2,0.3,0.3c0,0.2-0.2,0.3-0.3,0.3  c-0.2,0-0.3-0.2-0.3-0.3C3.4,40.2,3.5,40,3.7,40"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M3,40.4C2.9,40.4,2.9,40.4,3,40.4c-0.1-0.1,0-0.2,0-0.2  C3,40.3,3.1,40.3,3,40.4C3.1,40.4,3,40.4,3,40.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M4.5,40.4C4.4,40.4,4.4,40.4,4.5,40.4c-0.1-0.1,0-0.2,0-0.2  C4.5,40.3,4.5,40.3,4.5,40.4C4.5,40.4,4.5,40.4,4.5,40.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#ACBDD1;" d="M23.6,39.9c0.5,0,0.9,0.2,0.9,0.4c0,0.2-0.4,0.4-0.9,0.4  c-0.5,0-0.9-0.2-0.9-0.4C22.7,40.1,23.1,39.9,23.6,39.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#F48120;" d="M23.7,40c0.2,0,0.3,0.2,0.3,0.3c0,0.2-0.2,0.3-0.3,0.3  c-0.2,0-0.3-0.2-0.3-0.3C23.3,40.2,23.5,40,23.7,40"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M22.9,40.4C22.9,40.4,22.8,40.4,22.9,40.4c-0.1-0.1,0-0.2,0-0.2  C23,40.3,23,40.3,22.9,40.4C23,40.4,23,40.4,22.9,40.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M24.4,40.4C24.3,40.4,24.3,40.4,24.4,40.4c-0.1-0.1,0-0.2,0-0.2  S24.5,40.3,24.4,40.4C24.5,40.4,24.4,40.4,24.4,40.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M17.3,38.6h2.1c0.1,0,0.1,0.1,0.1,0.1v0.5  c0,0.1-0.1,0.1-0.1,0.1h-2.1c-0.1,0-0.1-0.1-0.1-0.1v-0.5C17.2,38.7,17.2,38.6,17.3,38.6"></path>
                  <g>
                     <defs>
                        <path id="SVGID_1_" d="M18.4,38.7c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1-0.1,0.1c-0.1,0-0.1-0.1-0.1-0.1    C18.3,38.8,18.3,38.7,18.4,38.7"></path>
                     </defs>
                     <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                     </clipPath>
                     <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="314.3781" y1="347.8761" x2="314.4393" y2="347.8761" gradientTransform="matrix(0.8556 -5.3197 2.9686 0.4774 -1283.3206 1545.2284)">
                        <stop offset="0" style="stop-color:#231F20"></stop>
                        <stop offset="0.77" style="stop-color:#929497"></stop>
                        <stop offset="1" style="stop-color:#FFFFFF"></stop>
                     </linearGradient>
                     <polygon style="clip-path:url(#SVGID_2_);fill:url(#SVGID_3_);" points="18.5,39.1 18.5,38.7 18.3,38.7 18.2,39  "></polygon>
                  </g>
                  <rect x="27.5" y="38.4" style="fill-rule:evenodd;clip-rule:evenodd;fill:#888FA7;" width="1.7" height="0.8"></rect>
                  <rect x="27.5" y="38.6" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.6" height="0.3"></rect>
                  <rect x="28.2" y="38.8" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.9" height="0.3"></rect>
                  <rect x="28.2" y="38.4" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.9" height="0.2"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M8.1,46.7h16.3c0.1,0,0.2,0.1,0.2,0.2V47c0,0.1-0.1,0.2-0.2,0.2  H8.1c-0.1,0-0.2-0.1-0.2-0.2v-0.1C7.9,46.8,8,46.7,8.1,46.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M12.9,14.8c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C12.6,14.9,12.7,14.8,12.9,14.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M13.6,14.8c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  s-0.3-0.1-0.3-0.3C13.3,14.9,13.4,14.8,13.6,14.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M14.3,14.7c0.2,0,0.3,0.1,0.3,0.3s-0.1,0.3-0.3,0.3  S14,15.2,14,15.1S14.1,14.7,14.3,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M15,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C14.7,14.9,14.8,14.7,15,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M15.7,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C15.4,14.8,15.6,14.7,15.7,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M16.4,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C16.1,14.8,16.3,14.7,16.4,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M17.1,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C16.8,14.8,17,14.7,17.1,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M18.6,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C18.3,14.8,18.4,14.7,18.6,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M17.9,14.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C17.6,14.8,17.7,14.7,17.9,14.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M19.3,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C19,14.8,19.1,14.6,19.3,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M20,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C19.7,14.8,19.8,14.6,20,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M20.7,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C20.4,14.8,20.6,14.6,20.7,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M21.5,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C21.2,14.8,21.3,14.6,21.5,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M22.2,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C21.9,14.7,22,14.6,22.2,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M22.9,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C22.6,14.7,22.7,14.6,22.9,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M23.6,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C23.3,14.7,23.4,14.6,23.6,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M25,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C24.7,14.7,24.9,14.6,25,14.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M24.3,14.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C24,14.7,24.1,14.6,24.3,14.6"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" points="29.4,34 31.5,34 31.7,36 29.6,36.1 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#929497;" d="M29.6,34.6c0.1,0,0.3,0.2,0.3,0.4c0,0.2-0.1,0.4-0.2,0.4  c-0.1,0-0.3-0.2-0.3-0.4C29.4,34.8,29.5,34.6,29.6,34.6"></path>
                  <path d="M29.1,32.4c0,0-2,0.2-2.3,0.2c-0.2,0-0.2,0.1-0.3,0.1c0,0-0.1,0.1-0.1,0.1c0,0.1-0.1,0.5-0.1,0.9c0,0.3-0.1,0.6-0.1,0.7  c0,0.1,0.4,1.8,0.4,1.9l0.5,0.3l1.6-0.2l0,0.1l-1.7,0.2l0,0l0,0l-0.5-0.3l0,0l0,0c0,0-0.4-1.8-0.4-2c0-0.1,0-0.4,0.1-0.7  c0-0.4,0.1-0.8,0.1-0.9c0-0.1,0-0.1,0.1-0.2c0.1,0,0.1-0.1,0.3-0.1C27.1,32.6,29.1,32.4,29.1,32.4L29.1,32.4z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M26.5,14.8h2.9l0,0.3h-0.5c-0.1,0-0.2,0.1-0.2,0.2v1.1  c0,0.1,0.1,0.2,0.2,0.2h0.3l0,0.3h-1.3c0-0.3-0.1-0.8-0.3-1.1C27.3,15.3,26.7,15,26.5,14.8L26.5,14.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#F48245;" d="M29,15c0,0-0.1,1.6-0.1,1.6l-0.2-0.1l-0.1-0.8l0.1-0.6L29,15z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M29.4,14.9l0,0.1h-0.5c-0.1,0-0.2,0.1-0.2,0.2v1.1  c0,0.1,0.1,0.2,0.2,0.2h0.3l0,0.2h-0.4c-0.1,0-0.2-0.1-0.2-0.2v-1.4c0-0.1,0.1-0.2,0.2-0.2H29.4z"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" points="26.9,16.6 27.7,16.6 27.8,17.6 27.2,17.6 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M8.8,33.6c0,0.4,0,0.7,0,1.1c0,0.1-0.1,0.2-0.2,0.2h0  c-0.1,0-0.2-0.1-0.2-0.2v-1.1c0-2.1,0.1-4.3,0.2-6.4c0.1-2.1,0.4-4.5,0.7-6.8c0-0.3,0.1-0.6,0.1-0.9c0.3-2.4,0.6-4.3,2.1-4.6  c0.2,0,2.6-0.1,5.4-0.1c3.8-0.1,8.4-0.1,9-0.1c0.5,0,0.9,0.2,1.1,0.4c0.4,0.3,0.6,0.7,0.7,1c0.2,0.5,2,22.3,2,22.4  c0,0.2-0.3,0.2-0.4,0c0-0.1-1.9-21.9-2-22.3c-0.1-0.2-0.3-0.6-0.6-0.8c-0.2-0.2-0.5-0.3-0.9-0.3c-0.6,0-5.2,0-9,0.1  c-2.8,0-5.1,0.1-5.3,0.1c-1.3,0.2-1.5,2.1-1.9,4.3c0,0.3-0.1,0.6-0.1,0.9c-0.3,2.3-0.6,4.6-0.7,6.8C8.8,29.4,8.8,31.5,8.8,33.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M8.6,34.3C8.7,34.3,8.7,34.3,8.6,34.3c0.1,0.1,0,0.2,0,0.2  C8.6,34.5,8.5,34.4,8.6,34.3C8.5,34.3,8.6,34.3,8.6,34.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M8.6,34.6C8.7,34.6,8.7,34.6,8.6,34.6c0.1,0.1,0,0.2,0,0.2  C8.6,34.8,8.5,34.7,8.6,34.6C8.5,34.6,8.6,34.6,8.6,34.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M4.2,42.3c1.7,0,3.1,1.4,3.1,3.1c0,1.7-1.4,3.1-3.1,3.1  s-3.1-1.4-3.1-3.1C1.1,43.7,2.5,42.3,4.2,42.3"></path>
                  <rect x="12.9" y="33.3" style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" width="7.3" height="0.8"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M13.4,32H20c0.2,0,0.3,0.1,0.3,0.3v0.6c0,0.2-0.1,0.3-0.3,0.3  c-0.7,0-6.8,0.1-6.9,0c0,0,0-0.8,0-0.8C13.1,32.1,13.2,32,13.4,32"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#4C341F;" d="M23.8,36.2c0,0,0.7-0.1,1-0.4c0.3-0.3,0.6-0.5,0.8-0.5  c0.2,0,0.3,0,0.4,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1-1.1,1.6-1.2,1.6c0,0-0.2,0-0.3,0.1c0,0,0,0.1,0,0.2c0,0.1-0.2,0.4-0.2,0.4  l-1.5-0.4l0.3-0.6L23.8,36.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#482F18;" d="M21.2,36.8c0,0,0,0.6-0.1,0.8c0,0.1,0,0.4,0,0.6  c0,0.1,0,0.2,0,0.2l1.1,0c0,0,0-0.1,0.1-0.1c0,0,0.2-0.1,0.2-0.1c0.1,0,0.1,0.1,0.1,0.1l2.1,0c0,0,0-0.3,0-0.4  c0-0.1-0.4-0.4-0.8-0.4c-0.4,0-0.8-0.3-0.9-0.3c-0.1-0.1-0.5-0.4-0.6-0.4C22.2,36.6,21.3,36.7,21.2,36.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#376E9C;" d="M13.6,29.6l0.1-0.4h3c0,0,0.3,0.2,0.5,0.2  c0.2,0,0.9-0.1,1.8-0.1c1,0,1.7,0.1,2.3,0.2c0.6,0.1,1.4,0.4,1.5,0.6c0.1,0.1,0.1,0.3,0,0.6c-0.1,0.3-0.1,0.3-0.1,0.5  c0,0.2,0,1.7,0.1,2.1c0.1,0.4,0.4,1.3,0.8,1.8c0.3,0.5,0.5,0.6,0.5,0.7c0,0.1-0.2,0.2-0.2,0.3c0,0.1,0,0.1,0,0.2  c0,0.1-0.7,0.7-0.7,0.8c-0.1,0.1-0.1,0-0.2,0c0,0-0.4-0.3-0.4-0.3c0,0,0-0.2-0.1-0.2c0,0,0,0.1-0.1,0.1c0,0-0.6,0.2-0.8,0.2  c-0.2,0-0.4,0-0.5,0c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0.1-0.6,0-1c0-0.4-0.2-1.8-0.3-2.2c-0.1-0.4-0.3-0.9-0.3-1.2c0-0.3,0-0.4,0-0.4  l-5,0.1L14,31.5C14,31.5,13.2,30.6,13.6,29.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M12.1,31.1l0.1,1.8l3.3,0.1c0,0,0.1-0.7-0.3-1.2  C14.9,31.3,13.7,31,12.1,31.1"></path>
                  <rect x="13.1" y="32.9" style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" width="7.1" height="0.2"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#808184;" d="M12.1,27.7L12.1,27.7c0.1,0,0.2,0,0.2,0.1l0.3,3.4  c0,0.1-0.1,0.2-0.1,0.2l-0.1,0c-0.1,0-0.2-0.1-0.2-0.1l-0.3-3.4C11.9,27.8,12,27.7,12.1,27.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M14.6,31.2l0.4,0.2c0,0,0.1,0.1,0,0.1l-0.1,0.2  c0,0-0.1,0.1-0.1,0l-0.4-0.2c0,0-0.1-0.1,0-0.1l0.1-0.2C14.5,31.2,14.6,31.2,14.6,31.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#EC1A38;" d="M14.5,31.4c0,0,0.2,0.1,0.3,0.1c0.1,0.1,0.1,0.1,0.1,0.1  s0-0.1,0-0.1c0,0-0.3-0.2-0.3-0.2C14.6,31.3,14.5,31.4,14.5,31.4"></path>
                  <rect x="26.7" y="35.7" transform="matrix(-0.9968 7.975838e-002 -7.975838e-002 -0.9968 57.177 69.5759)" style="fill-rule:evenodd;clip-rule:evenodd;fill:#888FA7;" width="1" height="0.5"></rect>
                  <rect x="26.8" y="35.8" transform="matrix(7.968666e-002 0.9968 -0.9968 7.968666e-002 60.5407 6.2632)" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.2" height="0.3"></rect>
                  <rect x="27.3" y="35.7" transform="matrix(-7.992566e-002 -0.9968 0.9968 -7.992566e-002 -6.2638 66.1937)" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.2" height="0.5"></rect>
                  <rect x="27.1" y="35.7" transform="matrix(-0.9968 7.971311e-002 -7.971311e-002 -0.9968 57.5586 69.1974)" style="fill-rule:evenodd;clip-rule:evenodd;fill:#7B797E;" width="0.5" height="0.1"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M27.3,32.8c0.1,0,0.2,0.1,0.2,0.2c0,0.1,0,0.2-0.1,0.3  c-0.1,0-0.2-0.1-0.2-0.2C27.2,32.9,27.3,32.8,27.3,32.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M27.4,32.9C27.4,32.9,27.4,32.9,27.4,32.9c0.1,0.1,0,0.1,0,0.1  C27.3,33,27.3,33,27.4,32.9C27.3,32.9,27.3,32.9,27.4,32.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#EC1C24;" d="M29.1,36.8l-0.2-2c0-0.2-0.2-0.4-0.4-0.4l0,0  c-0.2,0-0.4,0.2-0.4,0.4l0.1,2L29.1,36.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M29.3,34.6l0,0.2l-1.2,0.1c0,0,0,0-0.1,0l0-0.1c0,0,0,0,0-0.1  L29.3,34.6z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M29.5,36.5l0,0.2l-1.3,0.1c0,0,0,0-0.1,0l0-0.1c0,0,0,0,0-0.1  L29.5,36.5z"></path>
                  <rect x="28.3" y="35" transform="matrix(-0.9971 7.628962e-002 -7.628962e-002 -0.9971 59.8057 69.1034)" style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" width="0.6" height="1.4"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#6D6E70;" d="M28.5,34.2c0,0,0.1,0,0.1,0.1c0,0.1,0,0.1,0,0.1l0.1-0.1  C28.8,34.3,28.7,34.1,28.5,34.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M31,4.8l1,0l0,1.4l-1,0L31,4.8z M31.7,39.9L30.2,4.3L30,4l0-2.7  l2.7-0.1c0.6,12.1,0.9,25.4,1.4,38.8C34.2,39.9,33.9,40.3,31.7,39.9z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M29.9,0.8c0,0,0,3.1,0,3.1C29.9,4,30.7,5,30.7,5l2.7-0.1l-0.2-4.2L29.9,0.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M29.7,1.1l3.6-0.1c0.1,0,0.2,0.1,0.2,0.2v0  c0,0.1-0.1,0.2-0.2,0.2l-3.6,0.1c-0.1,0-0.2-0.1-0.2-0.2v0C29.5,1.2,29.6,1.1,29.7,1.1"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M29.8,3.6l3.6-0.1c0.1,0,0.2,0.1,0.2,0.2v0  c0,0.1-0.1,0.2-0.2,0.2L29.8,4c-0.1,0-0.2-0.1-0.2-0.2v0C29.6,3.7,29.7,3.6,29.8,3.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#808184;" d="M31.6,1.5c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5  c-0.3,0-0.5-0.2-0.5-0.5C31.1,1.8,31.3,1.5,31.6,1.5"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="31.5,1.7 31.7,1.7 31.9,1.8 31.9,1.9 32,2.1 31.9,2.3 31.8,2.4   31.6,2.4 31.4,2.4 31.3,2.2 31.3,2 31.4,1.8 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" points="30.9,5.9 32.2,5.9 33.6,39.4 33.6,39.8 32.4,39.8 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M32.5,4.9c0,0.1,0,1,0,1l1.4,33.5l0.6-0.8L33.1,5.5  C33.1,5.5,33.2,4.6,32.5,4.9"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.3,4.9 33.2,4.8 33.2,5.9 32.3,5.9 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.4,6.3 33.3,6.3 33.3,7.3 32.4,7.3 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.4,7.8 33.3,7.8 33.4,8.8 32.5,8.8 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.5,9.2 33.4,9.2 33.4,10.2 32.5,10.3 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.5,10.7 33.4,10.7 33.5,11.7 32.6,11.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.6,12.2 33.5,12.2 33.5,13.2 32.6,13.2 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.7,13.7 33.6,13.7 33.6,14.7 32.7,14.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.7,15.2 33.6,15.2 33.7,16.2 32.8,16.2 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.8,16.7 33.7,16.7 33.8,17.7 32.9,17.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.8,18.1 33.8,18.1 33.8,19.1 32.9,19.1 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="32.9,19.7 33.8,19.6 33.9,20.6 33,20.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33,21.1 33.9,21 33.9,22 33,22.1 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33,22.2 33.9,22.2 34,23.2 33,23.2 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33,23.7 34,23.7 34,24.7 33.1,24.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.1,25.1 34,25.1 34.1,26.1 33.2,26.2 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.1,26.6 34.1,26.6 34.1,27.6 33.2,27.6 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.2,28.1 34.1,28.1 34.2,29.1 33.3,29.1 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.3,29.6 34.2,29.6 34.3,30.6 33.3,30.6 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.4,31.1 34.3,31.1 34.3,32.1 33.4,32.1 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.4,32.6 34.4,32.6 34.4,33.6 33.5,33.6 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.5,34 34.4,34 34.4,35 33.5,35 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.6,35.6 34.5,35.5 34.5,36.5 33.6,36.6 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="33.6,37 34.5,37 34.6,38 33.7,38.1 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M34.6,38.5l0,0.7c0,0.2-0.1,0.3-0.3,0.3l-0.3,0c-0.2,0-0.3-0.1-0.3-0.3l0-0.7  L34.6,38.5z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34.2,38.7c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.9,38.9,34,38.7,34.2,38.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M32.8,6.6c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.6,6.7,32.7,6.6,32.8,6.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M32.9,8c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.6,8.2,32.7,8,32.9,8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33,9.5c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.7,9.6,32.8,9.5,33,9.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M33,11c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  s-0.3-0.1-0.3-0.3C32.7,11.1,32.8,11,33,11"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.1,12.5c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.8,12.6,32.9,12.5,33.1,12.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.1,14c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.9,14.1,33,14,33.1,14"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.2,15.4c0.2,0,0.3,0.1,0.3,0.3S33.4,16,33.2,16  c-0.2,0-0.3-0.1-0.3-0.3S33.1,15.4,33.2,15.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.3,16.9c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33,17.1,33.1,16.9,33.3,16.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.3,18.4c0.2,0,0.3,0.1,0.3,0.3s-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3S33.2,18.4,33.3,18.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.4,19.9c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.1,20,33.2,19.9,33.4,19.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.5,21.3c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.2,21.4,33.3,21.3,33.5,21.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.5,22.5c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.2,22.6,33.3,22.5,33.5,22.5"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.5,23.9c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.3,24.1,33.4,23.9,33.5,23.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.6,25.4c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.3,25.5,33.5,25.4,33.6,25.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.6,26.9c0.2,0,0.3,0.1,0.3,0.3s-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3S33.5,26.9,33.6,26.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.7,28.4c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.4,28.5,33.5,28.4,33.7,28.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.8,29.9c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.5,30,33.7,29.9,33.8,29.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.9,31.4c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.6,31.5,33.7,31.4,33.9,31.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.9,32.8c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.6,33,33.8,32.8,33.9,32.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34,34.3c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  s-0.3-0.1-0.3-0.3C33.7,34.4,33.8,34.3,34,34.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34,35.8c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.8,35.9,33.9,35.8,34,35.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34.1,37.3c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C33.8,37.4,34,37.3,34.1,37.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M32.8,5.1c0.2,0,0.3,0.1,0.3,0.3c0,0.2-0.1,0.3-0.3,0.3  c-0.2,0-0.3-0.1-0.3-0.3C32.5,5.2,32.6,5.1,32.8,5.1"></path>
                  <rect x="10.6" y="15.7" transform="matrix(-1 4.677757e-004 -4.677757e-004 -1 38.1645 31.6206)" style="fill:#404041;" width="16.9" height="0.3"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M14.8,31.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0.1,0.1,0.1  c0,0,0.1,0,0.1,0c0,0,0,0,0-0.1C15,31.2,14.8,31.1,14.8,31.1 M14.8,31c0,0-0.2,0.2-0.2,0.2c0,0,0.2,0.1,0.2,0.2  c0.1,0.1,0.1,0,0.2-0.1c0-0.1,0.1-0.2,0.1-0.2S14.9,31,14.8,31z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#33608D;" d="M22.8,33.1c0,0.1,0,0.1,0,0.2c0.1,0.4,0.4,1.3,0.8,1.8  c0.3,0.5,0.5,0.6,0.5,0.7c0,0.1-0.2,0.2-0.2,0.3c0,0.1,0,0.1,0,0.2c0,0.1-0.7,0.8-0.8,0.8c-0.1,0.1-0.6-0.4-0.6-0.4c0,0,0,0,0,0  c0.1-0.1,0.3-0.1,0.3-0.2c0.1-0.1,0-0.4-0.1-0.6c-0.1-0.3-0.1-0.4-0.1-1.4C22.7,33.8,22.8,33.3,22.8,33.1"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#33608D;" d="M20.7,33.6c0,0,0-0.1,0-0.1c-0.1-0.4-0.3-0.9-0.3-1.2  c0-0.3,0-0.4,0-0.4l-2.3,0c0.7-0.1,2.1-0.4,2.3-0.5c0.3-0.1,0.4,0,0.4,0c0,0-0.2,0.4-0.2,1C20.7,32.9,20.8,33.3,20.7,33.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#33608D;" d="M17,29.3c0.1,0,0.2,0.1,0.2,0.1c0.2,0,0.9-0.1,1.8-0.1  c0.3,0,0.5,0,0.7,0c-0.1,0.2-0.1,0.6-0.1,0.7c0,0.2,0,0.4-0.1,0.5c-0.1,0.1-0.2,0.1-0.8,0.2c-0.6,0.1-1.5,0.2-1.6,0.2  c-0.1,0-0.2-0.2-0.3-0.4c-0.1-0.2-0.2-1.1-0.2-1.1C16.8,29.4,16.9,29.4,17,29.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M21.1,38c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0,0.2l1.1,0c0,0,0-0.1,0.1-0.1  c0,0,0.2-0.1,0.2-0.1c0.1,0,0.1,0.1,0.1,0.1l2.1,0c0,0,0-0.1,0-0.3L21.1,38z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M25.8,35.3c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1-1.1,1.6-1.2,1.6  c0,0-0.2,0-0.3,0.1c0,0,0,0.1,0,0.2c0,0.1-0.2,0.4-0.2,0.4l-0.3-0.1c0-0.1,0-0.1,0-0.2L25.8,35.3z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FDCF9D;" d="M19.6,27.7c0,0,0.1,0,0.2,0s0.1,0,0.1,0s0.1-0.1,0.2-0.1  c0.1,0,0.5-0.1,0.6,0c0.2,0,0.2,0,0.4,0c0.2,0,0.6,0,0.7,0c0.1,0,0.1,0.1,0.1,0.1l-0.6,0.6c0,0-0.2,0.1-0.3,0c-0.1,0-0.3,0-0.5,0  c-0.2,0-0.5,0.1-0.6,0.1c-0.2,0-0.2,0-0.2,0S19.5,27.8,19.6,27.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FDCF9D;" d="M17,19.4c0,0,0.1,0.2,0,0.3c0,0.1-0.1,0.4-0.1,0.5  c0,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.1,0.2,0.1,0.3c0,0-0.1,0.1-0.2,0.1c0,0.1,0,0.2,0,0.3c0,0.1-0.1,0.1-0.1,0.1  c-0.1,0.1-0.1,0.2-0.1,0.4c0,0.3-0.2,0.2-0.3,0.2c-0.2,0-0.5-0.1-0.5,0c-0.1,0.1-0.1,0.3-0.1,0.3s-0.8,0.1-0.8,0  c-0.1-0.1-0.6-0.2-0.6-0.2l0-0.2c0,0,0.1-0.4,0.2-0.8c0-0.4,0.3-1.3,0.5-1.4C15.3,19.5,16.8,18.9,17,19.4"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFCA05;" d="M13.8,29.2c0,0,0-0.5,0-1c0.1-0.5,0.1-0.8-0.1-1.4  c-0.2-0.6-0.4-1.6-0.3-2.4c0.1-0.8,0.3-1.2,0.6-1.6c0.3-0.4,0.3-0.4,0.3-0.5c0-0.1,0-0.3,0.1-0.3c0.1,0,1,0.2,1.4,0.3  c0.4,0.1,0.5,0.2,0.5,0.2c0,0-0.2,0.1-0.2,0.2c0,0.1,0.3,0.7,0.5,1c0.2,0.3,0.6,0.8,0.6,0.9c0,0.2,0.1,0.5,0,0.7  c-0.1,0.2-0.1,0.4-0.1,0.5c0,0.2,0,0.2,0.1,0.3c0,0.1,0,0.4,0,0.5c0,0.1-0.1,0.2-0.1,0.4c0,0.2,0,0.7,0.1,0.7c0,0,0.5,0.2,1,0.2  c0.5,0,0.8-0.1,1-0.1c0.2,0,0.4,0,0.5-0.1c0,0,0.1,0,0.1,0c0,0,0,0.4,0.1,0.6c0.1,0.2,0.1,0.2,0.1,0.2c0,0-0.1,0.1-0.3,0.2  c-0.2,0-1.7,0.3-2.1,0.3c-0.4,0-0.5,0-0.5,0c0,0,0,0.2,0,0.2S14.4,29.4,13.8,29.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCF06C;" d="M19,27.7c0.1,0,0.2,0,0.3,0c0,0,0,0.2,0,0.4  c0,0.2,0.1,0.6,0.1,0.6c0,0,0,0-0.1,0c0,0-0.1,0-0.2,0c0,0-0.1-0.2-0.1-0.4C19.1,28.1,19,27.7,19,27.7"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCF06C;" d="M13.7,28.8c0-0.1,0-0.3,0-0.4l1.4,0c0.1,0.2,0.2,0.3,0.5,0.4  L13.7,28.8z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCF06C;" d="M13.8,28.2c0,0,0-0.1,0-0.1c0-0.1,0-0.2,0-0.3l0.3,0  c0-1.1-0.4-1.8-0.6-2.9c-0.1-0.7,0.2-1.5,0.4-1.8c0.1-0.3,0.6-1.3,0.6-1.3c0.1,0,0.2,0,0.3,0.1c0,0-0.1,0.1-0.1,0.1  c-0.1,0.1-0.5,0.9-0.8,1.6c-0.3,0.7-0.1,1.2-0.1,1.4c0,0.2,0.4,1.3,0.5,1.7c0.1,0.4,0.1,1,0.1,1h0l0.5,0c0,0.1,0,0.3,0.2,0.4  L13.8,28.2z"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#614729;" d="M17.1,19.2c0,0,0,0.1,0,0.2c0,0.1,0,0.1,0,0.1S17,19.4,17,19.4  c0,0-0.1-0.1-0.1-0.1l-0.1,0c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1s-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.2-0.1h-0.1c0,0,0,0.1,0,0.1  c0,0,0,0,0,0s-0.1,0-0.2-0.1c-0.1-0.1-0.2-0.1-0.2-0.1c-0.1,0-0.5,0.5-0.5,0.7c0,0-0.1-0.1-0.1-0.1c-0.3-0.1-0.3,0.4-0.3,0.5  c0,0.1,0,0.3,0,0.4c0,0.1-0.4,0.2-0.5,0.3c-0.1,0.1-0.2,0.1-0.2,0.1s0-0.1,0-0.1c0,0-0.4-0.3-0.5-0.5C14,20.4,14,20.4,14,20.1  c0-0.3,0-0.4,0-0.4S14.9,18.7,17.1,19.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;" d="M16.9,20.2C16.9,20.2,16.9,20.2,16.9,20.2  C16.9,20.2,16.9,20.2,16.9,20.2c0,0.1,0,0.1,0,0.1c0,0-0.1,0.1-0.3,0c-0.2,0-0.3-0.1-0.3-0.1c0.1-0.1,0.2-0.1,0.4-0.1  C16.9,20.1,16.9,20.2,16.9,20.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#0094D9;" d="M16.9,20.2C16.9,20.2,16.9,20.2,16.9,20.2c0,0.1,0,0.1,0,0.1  c0,0,0,0,0,0c0,0-0.1,0.1-0.3,0l0,0c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0.1,0,0.1,0C16.9,20.1,16.9,20.2,16.9,20.2"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M16.9,20c0,0-0.2-0.2-0.3-0.2c-0.1,0-0.2,0-0.2,0.1  c0,0,0-0.1,0.1-0.2C16.5,19.7,16.8,19.7,16.9,20"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M15.5,20.6c0,0,0.1-0.1,0-0.1c0,0-0.1-0.1-0.1-0.2  c0-0.1,0-0.1,0-0.1S15.2,20.5,15.5,20.6"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M17.1,20.9C17.1,20.9,17.1,20.9,17.1,20.9c-0.1,0-0.2,0-0.1,0  C17,20.9,17.1,21,17.1,20.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#A3282D;" d="M16.9,21.3c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.2,0  C16.4,21.3,17.2,21.5,16.9,21.3"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;" d="M16.8,20.1C16.9,20.1,16.9,20.2,16.8,20.1c0.1,0.1,0,0.2,0,0.2  C16.8,20.3,16.7,20.3,16.8,20.1C16.7,20.2,16.8,20.1,16.8,20.1"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FCF06C;" d="M13.9,19.8c0,0,0-0.3,0-0.5c0-0.3,0.1-0.3,0.1-0.3l3,0  c0,0,0.1,0.2,0.1,0.2c0,0.1-0.1,0.1-0.1,0.1C17,19.2,14.7,19.2,13.9,19.8"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFCA05;" d="M17.3,18.9c-0.1-1-0.9-1.8-1.8-1.8c-0.9,0-1.7,0.9-1.8,1.9  c1.5,0,2.9,0,4.3,0c0,0,0-0.1-0.2-0.1C17.7,18.9,17.5,18.9,17.3,18.9"></path>
                  <rect x="14.1" y="18.9" style="fill-rule:evenodd;clip-rule:evenodd;fill:#614729;" width="0.7" height="0.3"></rect>
                  <rect x="15.2" y="18.9" style="fill-rule:evenodd;clip-rule:evenodd;fill:#614729;" width="0.7" height="0.2"></rect>
                  <rect x="16.2" y="18.9" style="fill-rule:evenodd;clip-rule:evenodd;fill:#614729;" width="0.8" height="0.1"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#D5A92A;" d="M17.3,18.9c0-0.1,0-0.1,0-0.2h-1.7v-1.5c0,0-0.1,0-0.1,0  c0,0,0,0-0.1,0v1.5h-1.7c0,0.1,0,0.2-0.1,0.3c1.5,0,2.9,0,4.3,0c0,0,0-0.1-0.2-0.1C17.7,18.9,17.5,18.9,17.3,18.9"></path>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M22.9,27.4l0.9,1.6l1.2-0.8l-1-1.5l1.5-1c0.1-0.2,0-0.4-0.2-0.3  l-1.5,0.9c-0.2,0-0.4,0-0.6,0.2c-0.3,0.2-0.5,0.4-0.5,0.6l-1.6,1c0,0.2,0,0.3,0.2,0.3L22.9,27.4z"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="23.1,27.8 23.2,27.9 24.3,27.2 24.3,27.1 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="22.9,27.5 23,27.5 24.1,26.8 24,26.7 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="23,27.7 23.1,27.7 23.1,27.8 24.2,27 24.2,26.9 "></polygon>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M14.8,31c0,0,0.5-0.7,1-1.1c0.5-0.5,1-0.7,1-0.7  c0.2,0,0.3,0.1,0.4,0.2c0,0-0.7,0.4-1.1,0.7c-0.4,0.3-1.1,1.2-1.1,1.2C15,31.2,14.8,31.1,14.8,31"></path>
                  <rect x="33.7" y="43.8" style="fill-rule:evenodd;clip-rule:evenodd;" width="0.8" height="0.3"></rect>
                  <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M31.7,39.7h2.6c0.1,0,0.1,0.1,0.1,0.1v1.4c0,0.1-0.1,0.1-0.1,0.1h-2.6  c-0.1,0-0.1-0.1-0.1-0.1v-1.4C31.6,39.8,31.7,39.7,31.7,39.7"></path>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" points="25.9,16.7 26.8,16.1 27.3,17.9 26.3,17.9 "></polygon>
                  <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#8DD7F7;" points="26,16.7 26.3,17.7 27.2,17.7 26.7,16.2 "></polygon>
               </svg>
                    <div class="wheel-1">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48.5 49.2" style="enable-background:new 0 0 48.5 49.2;" xml:space="preserve">
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M24.3,0.6C37.4,0.6,48,11.3,48,24.4c0,13.1-10.7,23.8-23.8,23.8
                        c-13.1,0-23.8-10.7-23.8-23.8C0.5,11.3,11.1,0.6,24.3,0.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M24.4,15.6c4.9,0,8.8,3.9,8.8,8.8c0,4.9-3.9,8.8-8.8,8.8
                        c-4.9,0-8.8-3.9-8.8-8.8C15.6,19.5,19.5,15.6,24.4,15.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M24.6,20.6c2,0,3.6,1.6,3.6,3.6s-1.6,3.6-3.6,3.6
                        c-2,0-3.6-1.6-3.6-3.6S22.6,20.6,24.6,20.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M24.6,23.1c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1
                        c-0.6,0-1.1-0.5-1.1-1.1C23.5,23.6,24,23.1,24.6,23.1" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M20.4,18.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C19.2,19.3,19.7,18.7,20.4,18.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M26.4,17.6c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C25.2,18.1,25.7,17.6,26.4,17.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M30.2,21.9c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C29,22.4,29.5,21.9,30.2,21.9" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M28.6,27.5c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        s-1.2-0.5-1.2-1.2C27.4,28,27.9,27.5,28.6,27.5" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M22.6,28.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C21.4,29.2,21.9,28.7,22.6,28.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M11.7,25.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C10.1,25.9,10.9,25.2,11.7,25.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M12.4,18.5c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        s-1.6-0.7-1.6-1.6C10.8,19.2,11.6,18.5,12.4,18.5" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M16,13c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C14.4,13.7,15.1,13,16,13" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M21.9,9.9c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C20.3,10.6,21,9.9,21.9,9.9" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M28.4,10.4c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C26.9,11.1,27.6,10.4,28.4,10.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34,14c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C32.4,14.7,33.1,14,34,14" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M37.1,20c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C35.5,20.7,36.2,20,37.1,20" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M36.8,26.7c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C35.2,27.4,35.9,26.7,36.8,26.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.1,32.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        s-1.6-0.7-1.6-1.6C31.5,32.9,32.2,32.2,33.1,32.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M27,35.4c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C25.4,36.1,26.1,35.4,27,35.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M20.5,34.8c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C19,35.5,19.7,34.8,20.5,34.8" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M15.1,31.3c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C13.5,32,14.2,31.3,15.1,31.3" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M18.7,24.2c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C17.5,24.8,18,24.2,18.7,24.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#888FA7;" d="M10.7,7.4l1.7,1.4c0.4,0.3,0.4,0.8,0.1,1.2v0
                        c-0.3,0.4-0.9,0.4-1.3,0.1L9.6,8.7C9.2,8.4,9.2,7.8,9.5,7.5l0,0C9.8,7.1,10.4,7.1,10.7,7.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M10.7,7.4l0.2,0.1C11,7.6,11,7.7,11,7.9c0,0.6-0.5,1.1-1.1,1.1
                        L9.6,8.7C9.2,8.4,9.2,7.8,9.5,7.5l0,0C9.8,7.1,10.4,7.1,10.7,7.4" />
                  </svg>
                    </div>
                    <div class="wheel-2">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48.5 49.2" style="enable-background:new 0 0 48.5 49.2;" xml:space="preserve">
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M24.3,0.6C37.4,0.6,48,11.3,48,24.4c0,13.1-10.7,23.8-23.8,23.8
                        c-13.1,0-23.8-10.7-23.8-23.8C0.5,11.3,11.1,0.6,24.3,0.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M24.4,15.6c4.9,0,8.8,3.9,8.8,8.8c0,4.9-3.9,8.8-8.8,8.8
                        c-4.9,0-8.8-3.9-8.8-8.8C15.6,19.5,19.5,15.6,24.4,15.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#FFC727;" d="M24.6,20.6c2,0,3.6,1.6,3.6,3.6s-1.6,3.6-3.6,3.6
                        c-2,0-3.6-1.6-3.6-3.6S22.6,20.6,24.6,20.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M24.6,23.1c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1
                        c-0.6,0-1.1-0.5-1.1-1.1C23.5,23.6,24,23.1,24.6,23.1" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M20.4,18.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C19.2,19.3,19.7,18.7,20.4,18.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M26.4,17.6c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C25.2,18.1,25.7,17.6,26.4,17.6" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M30.2,21.9c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C29,22.4,29.5,21.9,30.2,21.9" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M28.6,27.5c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        s-1.2-0.5-1.2-1.2C27.4,28,27.9,27.5,28.6,27.5" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M22.6,28.7c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C21.4,29.2,21.9,28.7,22.6,28.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M11.7,25.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C10.1,25.9,10.9,25.2,11.7,25.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M12.4,18.5c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        s-1.6-0.7-1.6-1.6C10.8,19.2,11.6,18.5,12.4,18.5" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M16,13c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C14.4,13.7,15.1,13,16,13" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M21.9,9.9c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C20.3,10.6,21,9.9,21.9,9.9" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M28.4,10.4c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C26.9,11.1,27.6,10.4,28.4,10.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M34,14c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C32.4,14.7,33.1,14,34,14" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M37.1,20c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C35.5,20.7,36.2,20,37.1,20" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M36.8,26.7c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C35.2,27.4,35.9,26.7,36.8,26.7" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M33.1,32.2c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        s-1.6-0.7-1.6-1.6C31.5,32.9,32.2,32.2,33.1,32.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M27,35.4c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C25.4,36.1,26.1,35.4,27,35.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M20.5,34.8c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C19,35.5,19.7,34.8,20.5,34.8" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M15.1,31.3c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6
                        c-0.9,0-1.6-0.7-1.6-1.6C13.5,32,14.2,31.3,15.1,31.3" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M18.7,24.2c0.6,0,1.2,0.5,1.2,1.2c0,0.6-0.5,1.2-1.2,1.2
                        c-0.6,0-1.2-0.5-1.2-1.2C17.5,24.8,18,24.2,18.7,24.2" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#888FA7;" d="M10.7,7.4l1.7,1.4c0.4,0.3,0.4,0.8,0.1,1.2v0
                        c-0.3,0.4-0.9,0.4-1.3,0.1L9.6,8.7C9.2,8.4,9.2,7.8,9.5,7.5l0,0C9.8,7.1,10.4,7.1,10.7,7.4" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" d="M10.7,7.4l0.2,0.1C11,7.6,11,7.7,11,7.9c0,0.6-0.5,1.1-1.1,1.1
                        L9.6,8.7C9.2,8.4,9.2,7.8,9.5,7.5l0,0C9.8,7.1,10.4,7.1,10.7,7.4" />
                  </svg>
                    </div>
                </div>
                <div class="hook-n-bag">
                    <div class="hook">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170 139.5" style="enable-background:new 0 0 170 301.5;" xml:space="preserve">
                     <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" points="20.3,80.1 23.7,80 24.5,87.6 21.4,88 21,87.9 "></polygon>
                     <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" points="21.7,113.9 25,113.6 25.6,127.1 22.5,127.4 "></polygon>
                     <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#58595B;" points="3.9,118.3 13.1,117.9 15.7,124.3 5.6,124.7 "></polygon>
                     <polygon style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" points="2.8,86.7 13.4,85.9 14.4,88.1 3.8,89.2 "></polygon>
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#161615;" d="M11.8,4.9l1.8-0.1c2.3-0.1,4.2,1.7,4.3,3.9l0,0.1l1,0
                        c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.9,0l0.1,2.2l1.5,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-1.4,0l0.1,2.2
                        l1.3,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-1.2,0l0.1,2.4l0.8,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.8,0
                        l0.1,2.2l1.3,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-1.3,0l0.1,2.2l1.1,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4
                        l-1.1,0l0.1,1.8l0.8,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.8,0l0.1,2.2l1.3,0c0.8,0,1.4,0.6,1.4,1.3
                        c0,0.8-0.6,1.4-1.3,1.4l-1.3,0l0.1,2.2l1.1,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-1.1,0l0.1,2.4l0.8,0
                        c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.8,0l0.1,2.2l1.2,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-1.1,0l0.1,2.2
                        l1,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.9,0l0.1,1.8l0.9,0c0.8,0,1.4,0.6,1.4,1.3c0,0.8-0.6,1.4-1.3,1.4l-0.9,0
                        l2.8,62.9l2.1-0.1l0.2,3.8l-14.3,0.7l-0.2-3.8l2.1-0.1l-2.8-63l-0.8,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.8,0l-0.1-1.8
                        l-0.8,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.7,0l-0.1-2.2l-0.5,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.5,0
                        l-0.1-2.2l-0.9,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.8,0l-0.1-2.4l-0.6,0c-0.8,0-1.4-0.6-1.4-1.3
                        c0-0.8,0.6-1.4,1.3-1.4l0.6,0l-0.1-2.2l-0.4,0c-0.8,0-1.4-0.6-1.4-1.3s0.6-1.4,1.3-1.4l0.4,0l-0.1-2.2l-0.9,0
                        c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.9,0L9,36.8l-0.6,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.6,0l-0.1-2.2
                        l-0.4,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.3,0L8.6,27l-0.9,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.9,0
                        l-0.1-2.4l-0.5,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.4,0l-0.1-2.2l-0.3,0c-0.8,0-1.4-0.6-1.4-1.3
                        c0-0.8,0.6-1.4,1.3-1.4l0.2,0l-0.1-2.2l-0.8,0c-0.8,0-1.4-0.6-1.4-1.3c0-0.8,0.6-1.4,1.3-1.4l0.7,0C7.7,6.9,9.5,5,11.8,4.9"></path>
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#404041;" d="M23.3,78.3l1.9,49.5c0,0-0.1,4.1,3.1,6.7c3.2,2.5,8,1.8,15,1.6
                        c7-0.2,118.5-7.7,118.5-7.7l4.8-5.8l-133.8,5.8c0,0-2.9-0.9-3.3-3.7c-0.5-2.7-1.7-46.4-1.7-46.4L23.3,78.3z"></path>
                     <rect x="22.4" y="75.7" transform="matrix(-0.9986 5.319322e-002 -5.319322e-002 -0.9986 54.9086 153.0148)" style="fill-rule:evenodd;clip-rule:evenodd;" width="6.1" height="3"></rect>
                  </svg>
                    </div>
                    <div class="bag">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 133.5 182.3" style="enable-background:new 0 0 133.5 182.3;" xml:space="preserve">
                     <path style="opacity:0.5;fill-rule:evenodd;clip-rule:evenodd;fill:#2E3192;" d="M75.1,41.9c0,0,2.9-13.2,3.2-15.9
                        c0.2-2.8,2.9-10.6-0.5-13.6c-3.4-3-7.5-2.1-7.3,2.8C70.6,20.1,71.6,28.6,75.1,41.9 M76.5,79.1h2.3c0,0-0.1-36.9,0.6-40
                        c0.7-3.1,4.2-17.3,3.9-22c-0.3-4.7-2.9-8.7-6-9.6c-13-3.8-11.5,11.3-9.8,19.5c1.6,7.5,2.6,9.1,4.2,15.5c1.6,6.3,1.3,16.9,1.2,19.6
                        C72.9,64.8,72.3,96,72.3,96l3.7-0.1L76.5,79.1z" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#D1D3D4;" d="M9.3,88.4c0,0,1,51.6,1.6,64.1c0.6,12.5,1.4,21.9,1.4,21.9
                        s18,4.4,37,6c19,1.7,27.2,1,33.4,0.4c6.2-0.6,19.6-4.1,29.6-6.2c10.1-2.1,13.5-2.3,14.1-2.8c0.7-0.5,0.8-1,0.8-1l-0.8-87.1
                        l-3.6-43.6c-0.6,0.1-1.1,0.2-1.7,0.3C91.2,36.7,55.4,37,13.2,42.1L9.3,88.4z" />
                     <path style="fill:#8ED8F8;" d="M11.2,83.6c0.1,0,35.7,1.4,55,1c9.6-0.2,17.2-0.5,24-0.9c6.8-0.4,12.7-0.9,19-1.6
                        c12.5-1.3,13.5-1.8,13.5-1.8L123,81c0,0-1.1,0.6-13.8,1.9c-6.3,0.6-12.3,1.2-19,1.6c-6.8,0.4-14.3,0.7-24,0.9c-19.3,0.4-54.9-1-55-1
                        L11.2,83.6z" />
                     <path style="fill:#8ED8F8;" d="M10.4,74.6c0.1,0,37.3,2.5,65.2,1.1c27.9-1.4,46.6-4.4,46.7-4.4l0.1,0.8c-0.1,0-18.8,3-46.8,4.4
                        c-28,1.4-65.2-1.1-65.3-1.1L10.4,74.6z" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#A7A9AC;" d="M122.9,42.3l-0.2-2.2c-0.6,0.1-1.1,0.2-1.7,0.3
                        C91.2,36.7,55.4,37,13.2,42.1L13,43.9c3.9,0.5,18.8,2,41.7,1.8c26.8-0.3,53.3-2.3,62.4-2.9C119.6,42.5,121.5,42.4,122.9,42.3" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#2E3192;" d="M9.1,79.9H6.8c0,0,0.1-36.9-0.6-40c-0.7-3.1-4.2-17.3-3.9-22
                        c0.3-4.7,2.9-8.7,6-9.6c5.7-1.7,8.6,0.3,9.9,3.6c-1.3,0.1-3,0.1-4.3,0.2c-1.4-1.3-3.9-1-6.1,1C4.3,16.2,7,24,7.2,26.8
                        c0.2,2.8,3.2,15.9,3.2,15.9c2.7-10.1,3.9-17.4,4.4-22.5l4.3-0.3c-0.1,2.8-0.6,5.6-1.1,7.9c-1.6,7.5-2.6,9.1-4.2,15.5
                        c-1.6,6.4-1.3,16.9-1.2,19.6c0.1,2.7,0.6,33.9,0.6,33.9l-3.7-0.1L9.1,79.9z" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#2E3192;" d="M118.4,7.6c1.1-2.3,4-2.4,6.6-0.3l4.1-0.2
                        c-1.4-2.3-3.4-4.1-5.3-4.7c-6.5-1.9-9.1,1-9.9,5.3L118.4,7.6L118.4,7.6z M126.2,74.2h2.3c0,0-1.1-37.4-0.5-40.5
                        c0.7-3.1,3-16.6,2.7-21.3c-0.1-1-0.3-2-0.6-2.9l-2.8,3.4l-0.3,0c0,3.2-1.1,6.7-1.2,8.3c-0.2,2.8-2,16.6-2,16.6
                        c-2.9-10.9-4.9-19.1-5.6-24.4v0l-4.5,0.3c0.2,3,0.8,6.1,1.3,8.5c1.6,7.5,3.6,8.1,5.2,14.4s2.6,17.8,2.5,20.5
                        c-0.1,2.7-0.6,33.9-0.6,33.9l3.7-0.1L126.2,74.2z" />
                     <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#2E3192;" d="M65.9,76.6h-2.3c0,0,0.1-36.9-0.6-40
                        c-0.6-2.6-3.2-13.2-3.8-19.2l3.8-0.2c0.3,2.5,1,5,1.1,6.3c0.2,2.8,3.2,15.9,3.2,15.9c3.6-13.3,4.5-21.8,4.7-26.7
                        c0.2-5-3.9-5.9-7.3-2.8c0,0-0.1,0.1-0.1,0.1l-4.3,0.2C61.2,7.6,63,5.6,65.1,5c13-3.8,11.5,11.3,9.8,19.5c-1.6,7.5-2.6,9.1-4.2,15.5
                        c-1.6,6.3-1.3,16.9-1.2,19.6c0.1,2.7,0.6,33.9,0.6,33.9l-3.7-0.1L65.9,76.6z" />
                     <path style="fill:#8ED8F8;" d="M11,152.9c0.1,0,27.8,11.8,59.2,10.7c12.5-0.4,23.6-1.5,32.6-2.8c13.6-2,22.3-4.3,24-5.3l0.4,0.7
                        c-1.7,1-10.6,3.4-24.3,5.4c-9,1.3-20.1,2.4-32.7,2.8c-31.5,1.1-59.5-10.7-59.5-10.8L11,152.9z" />
                     <path style="fill:#8ED8F8;" d="M11.5,160.9c0.1,0,30,10.8,65.1,8.6c17.6-1.1,29.1-2.5,36.7-3.8c7.6-1.3,11.4-2.4,13.7-3.2l0.3,0.8
                        c-2.3,0.8-6.1,1.9-13.8,3.2c-7.7,1.3-19.2,2.6-36.8,3.8c-35.3,2.3-65.4-8.6-65.4-8.6L11.5,160.9z" />
                     <rect x="-51.1" y="108.9" transform="matrix(1.699228e-002 0.9999 -0.9999 1.699228e-002 123.9137 92.5703)" style="fill:#2E3192;" width="132" height="0.9" />
                     <rect x="-5.6" y="113.1" transform="matrix(2.781323e-002 0.9996 -0.9996 2.781323e-002 174.0718 48.1014)" style="fill:#2E3192;" width="135.8" height="0.9" />
                     <polygon style="fill:#2E3192;" points="73.4,181.4 70.7,45.1 71.6,45.1 74.2,181.4 " />
                     <rect x="56.6" y="107" transform="matrix(2.140663e-002 0.9998 -0.9998 2.140663e-002 226.5293 -16.5434)" style="fill:#2E3192;" width="130.3" height="0.9" />
                  </svg>
                    </div>
                </div>
            </div>
            <div class="bag-2">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 134.4 186" style="enable-background:new 0 0 134.4 186;" xml:space="preserve">
               <path style="opacity:0.5;fill-rule:evenodd;clip-rule:evenodd;fill:#2E3191;" d="M76.1,43.2c0,0,2.9-13.2,3.2-15.9
                  c0.2-2.8,2.9-10.6-0.5-13.6c-3.4-3-7.5-2.1-7.3,2.8C71.6,21.4,72.5,29.9,76.1,43.2 M77.4,80.4h2.3c0,0-0.1-36.9,0.6-40
                  c0.7-3.1,4.2-17.3,3.9-22c-0.3-4.7-2.9-8.7-6-9.6c-13-3.8-11.5,11.3-9.8,19.5c1.6,7.5,2.6,9.1,4.2,15.5c1.6,6.3,1.3,16.9,1.2,19.6
                  c-0.1,2.7-0.6,33.9-0.6,33.9l3.7-0.1L77.4,80.4z" />
               <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#D0D2D3;" d="M10.2,89.7c0,0,1,51.6,1.6,64.1c0.6,12.5,1.4,21.9,1.4,21.9
                  s18,4.4,37,6c19,1.7,27.2,1,33.4,0.4c6.2-0.6,19.6-4.1,29.6-6.2c10.1-2.1,13.5-2.3,14.1-2.8c0.7-0.5,0.8-1,0.8-1l-0.8-87.1
                  l-3.6-43.6c-0.6,0.1-1.1,0.2-1.7,0.3C92.1,38,56.4,38.3,14.1,43.4L10.2,89.7z" />
               <path style="fill:#8DD7F7;" d="M12.1,84.9c0.1,0,35.7,1.4,55,1c9.6-0.2,17.2-0.5,24-0.9c6.8-0.4,12.7-0.9,19-1.6
                  c12.5-1.3,13.5-1.8,13.5-1.8l0.4,0.8c0,0-1.1,0.6-13.8,1.9c-6.3,0.6-12.3,1.2-19,1.6c-6.8,0.4-14.3,0.7-24,0.9
                  c-19.3,0.4-54.9-1-55-1L12.1,84.9z" />
               <path style="fill:#8DD7F7;" d="M11.3,75.9c0.1,0,37.3,2.5,65.2,1.1c27.9-1.4,46.6-4.4,46.7-4.4l0.1,0.8c-0.1,0-18.8,3-46.8,4.4
                  c-28,1.4-65.2-1.1-65.3-1.1L11.3,75.9z" />
               <path style="fill-rule:evenodd;clip-rule:evenodd;fill:#A6A8AB;" d="M123.8,43.6l-0.2-2.2c-0.6,0.1-1.1,0.2-1.7,0.3
                  C92.1,38,56.4,38.3,14.1,43.4l-0.2,1.8c3.9,0.5,18.8,2,41.7,1.8c26.8-0.3,53.3-2.3,62.4-2.9C120.5,43.8,122.4,43.7,123.8,43.6" />
               <rect x="-50.2" y="110.2" transform="matrix(1.699228e-002 0.9999 -0.9999 1.699228e-002 126.133 92.9527)" style="fill:#2E3191;" width="132" height="0.9" />
               <rect x="-4.7" y="114.4" transform="matrix(2.781323e-002 0.9996 -0.9996 2.781323e-002 176.2808 48.4697)" style="fill:#2E3191;" width="135.8" height="0.9" />
               <polygon style="fill:#2E3191;" points="74.3,182.8 71.6,46.4 72.5,46.4 75.1,182.8 " />
               <rect x="57.5" y="108.3" transform="matrix(2.140663e-002 0.9998 -0.9998 2.140663e-002 228.7444 -16.1667)" style="fill:#2E3191;" width="130.3" height="0.9" />
               <path style="fill:#2E3191;" d="M19,13.2c-0.9-3.4-4.3-5.1-9.9-3.5c-3.1,0.9-5.7,4.9-6,9.6c-0.3,4.7,3.3,18.9,3.9,22
                  c0.7,3.1,0.6,40,0.6,40H10l0.4,16.9l3.7,0.1c0,0-0.5-31.2-0.6-33.9c-0.1-2.7-0.4-13.2,1.2-19.6c1.6-6.3,2.6-8,4.2-15.5
                  c0.5-2.1,1.1-4.7,1.1-7.4C20,19.6,19.5,15.3,19,13.2z M11.3,44.1c0,0-2.9-13.2-3.2-15.9c-0.2-2.8-2.9-10.6,0.5-13.6
                  c1.9-1.7,4.6-2.7,5.6-1.3c1.3,1.8,1.5,6.4,1.5,8.6C15.5,26.9,14,34.1,11.3,44.1z" />
               <path style="fill:#2E3191;" d="M128.9,35c0.6-2.8,3.3-14.2,2.7-19.8c-0.2-1.8-1.1-5.4-1.9-7.1c-1-2.3-3.3-3.8-5-4.3
                  c-6.1-1.8-9.1,0.5-9.8,4.5c-0.3,1.7-0.4,5.3-0.3,7.1c0,2.9,0.8,5.8,1.3,8.2c1.6,7.5,3.6,8.1,5.2,14.4s2.6,17.8,2.5,20.5
                  c-0.1,2.7-0.6,33.9-0.6,33.9l3.7-0.1l0.4-16.9h2.3C129.4,75.5,128.2,38.1,128.9,35z M126.7,22.5c-0.2,2.8-2,16.6-2,16.6
                  c-2.8-10.5-5.3-18.4-5.5-23.7c-0.1-1.8-0.2-5.4,0.5-7.1c0.7-1.8,3.8-2.1,5.4-0.2c1.2,1.5,2.5,5.2,2.7,7.1
                  C128.1,18.1,126.8,21,126.7,22.5z" />
               <path style="fill:#2E3191;" d="M66,6.4c-1.8,0.5-3.8,2-4.6,4.4c-0.7,2.3-1.1,7.3-1,9.7c0.1,6.2,3.1,15.1,3.6,17.4
                  c0.7,3.1,0.6,40,0.6,40h2.3l0.4,16.9l3.7,0.1c0,0-0.5-31.2-0.6-33.9c-0.1-2.7-0.4-13.2,1.2-19.6c1.6-6.4,2.6-8,4.2-15.5
                  C77.5,17.7,79,2.5,66,6.4z M68.2,40.7c0,0-2.9-13.2-3.2-15.9c-0.1-1-0.7-2.5-0.8-4.3c-0.1-2.4,0.4-7.5,1.7-9.6
                  c2.2-3.6,7.1-1.6,6.9,3.2C72.6,19,71.7,27.5,68.2,40.7z" />
            </svg>
            </div>
        </div>
    </div>
</template>

<style lang="stylus" scoped>
    .truck {
        position: relative;
        width: 500px;
        display: inline-block;
        z-index: 1;
    }

    .truck-container {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    .truck-anim {
        transform: translate(-150%);
        animation: truck-drive 8s ease infinite;
    }

    @keyframes truck-drive {
        25% {
            transform: translate(10%);
        }
        60% {
            transform: translate(10%);
        }
        100% {
            transform: translate(-150%);
        }
    }

    .hook {
        display: inline-block;
        width: 270px;
        position: absolute;
        top: 0;
        z-index: 0;
        right: -230px;
        margin-left: -42px;
    }

    .wheel-1 {
        width: 70px;
        height: 70px;
        position: absolute;
        bottom: 22px;
        left: 24px;
        transform: rotate(0);
        animation: wheel-1-rotate 8s ease infinite;
    }

    @keyframes wheel-1-rotate {
        25% {
            transform: rotate(360deg);
        }
        60% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    .wheel-2 {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: 21px;
        right: 34px;
        transform: rotate(180deg);
        animation: wheel-2-rotate 8s ease infinite;
    }

    @keyframes wheel-2-rotate {
        25% {
            transform: rotate(540deg);
        }
        60% {
            transform: rotate(540deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

    .bag {
        display: inline-block;
        width: 205px;
        position: absolute;
        opacity: 1;
        top: 185px;
        right: -220px;
        animation: bag-disapear 8s ease infinite;
    }

    @keyframes bag-disapear {
        0 {
            opacity: 1;
        }
        25% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        60.1% {
            opacity: 0;
        }
        99.9% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .hook-n-bag {
        position: absolute;
        top: 0;
        right: 0;
        animation: hook-down 8s ease infinite;
    }

    @keyframes hook-down {
        0 {
            top: 0;
            right: 0;
        }
        25% {
            top: 0;
            right: 0;
        }
        60% {
            top: 210px;
            right: -10px;
        }
        99.9% {
            top: 210px;
            right: -10px;
        }
        100% {
            top: 0;
            right: 0;
        }
    }

    .bag-2 {
        display: inline-block;
        width: 205px;
        position: absolute;
        opacity: 0;
        top: 392px;
        right: 20px;
        opacity: 0;
        animation: bag-2-disapear 8s ease infinite;
    }

    @keyframes bag-2-disapear {
        0 {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        59.9% {
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    #truck-animation {
        margin: auto;
        overflow: hidden;
        width: 800px;
        position: relative;
    }

    .outer-div {
        transform: scale(0.438); // 350 (target) / 800 (old)
    }
</style>