<template>
    <!-- <div class="wrap"> -->
    <div class="sky">
        <div class="cielo">
        </div>
        <div class="barco">
            <div class="puente">
                <div class="chimeneal">
                    <div class="linea"></div>
                </div>
                <div class="chimenear">
                    <div class="linea"></div>
                </div>
                <div class="franja"></div>
                <div class="camarote1">
                    <div class="antiskew">
                        <div class="windows"></div>
                        <div class="windows"></div>
                        <div class="windows"></div>
                        <div class="windows"></div>
                        <div class="windows"></div>
                        <div class="puertita"></div>
                    </div>
                </div>
                <div class="radar">
                    <div class="cabeza"></div>
                    <div class="soporte"></div>
                </div>
                <div class="fantena"></div>
                <div class="santenea"></div>
                <div class="control">
                    <div class="tapa">
                        <div class="top-windows"></div>
                        <div class="top-windows"></div>
                        <div class="top-windows"></div>
                    </div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="mid-windows"></div>
                    <div class="puertita"></div>
                </div>
                <div class="bajo-camarotes">
                    <div class="ventanitas"></div>
                    <div class="ventanitas"></div>
                    <div class="ventanitas"></div>
                    <div class="ventanitas"></div>
                    <div class="ventanitas"></div>
                    <div class="ventanitas"></div>
                </div>
            </div>
            <div class="base">
                <div class="atras"></div>
                <div class="popa"></div>
                <div class="tronco">
                    <div class="marca">
                        <div class="per"></div>
                    </div>
                </div>
                <div class="proa"></div>
                <div class="anclacont"></div>
            </div>
            <div class="contenedores">
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
                <div class="contenedor">
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                    <div class="cal"></div>
                </div>
            </div>
        </div>
        <div class="water">
            <svg version="1.1" class="olacont" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13685.8 298.5" style="enable-background:new 0 0 13685.8 298.5;" xml:space="preserve">
               <path class="wave" d="M13641.6,241.3c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86
                  h-44.1c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1
                  c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1
                  c-325.4-8.8-661.3-147-827.7-86c-109.4,40.1-372.3,86-372.3,86H8665C8339.6,232.6,8261.1,28,8130,28c-85.9,0-159.3,27.7-292.7,127.3
                  c-93.3,69.7-372.3,86-372.3,86h-44.2c-301.4-8.1-708.8-174.7-827.7-86c-78.8,58.8-289.7,79.6-353.6,84.7c-0.6,0-1.2,0.1-1.7,0.1
                  c-1.1,0.1-2.2,0.2-3.2,0.2c-1.5,0.1-3,0.2-4.3,0.3c-0.9,0.1-1.7,0.1-2.4,0.2c-4.5,0.3-7,0.5-7,0.5h-44.1
                  C5851.3,232.6,5772.8,8,5641.7,8c-85.9,0-159.3,47.7-292.7,147.3c-93.3,69.7-372.3,86-372.3,86h-44.1
                  c-325.4-8.8-694.3-185.6-827.7-86c-93.3,69.7-372.3,86-372.3,86h-44.1C3363,232.6,3284.4,28,3153.4,28
                  c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1c-325.4-8.8-403.9-179.3-535-179.3
                  c-85.9,0-159.3-6.3-292.7,93.3c-93.3,69.7-372.3,86-372.3,86H1200C874.7,232.6,796.1,28,665,28c-85.9,0-159.3,27.7-292.7,127.3
                  C278.9,225,0,241.3,0,241.3v57.2h0h1244.2h0h1244.2h0h1244.2h0h1244.2h0h1244.2h0H7465h0h1244.2l0,0h1244.2l0,0h1244.2l0,0h1244.2
                  l0,0h1244.2v-57.2H13641.6z" />
            </svg>
        </div>
    </div>
    <!-- </div> -->
</template>

<style lang="stylus" scoped>
    $base = #58575c;
    $accent = #8b2e34;
    $windows = #003f5f;
    $inbetween = #cccdd1;
    $tower = white;

    @keyframes radar {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    @keyframes barco {
        0% {
            transform: rotate(-2deg) translateX(2px);
        }

        50% {
            transform: rotate(1deg) translateX(-10px);
        }

        100% {
            transform: rotate(-2deg) translateX(2px);
        }
    }

    @keyframes contenedores {
        0% {
            transform: translateX(-7px);
        }

        50% {
            transform: translateX(1px);
        }

        100% {
            transform: translateX(-7px);
        }
    }

    @keyframes ola {
        0% {
            right: 0%;
        }

        100% {
            right: 100%;
        }
    }

    @keyframes wave {
        0% {
            bottom: 0;
        }

        100% {
            bottom: -29px;
        }
    }

    // .wrap {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // transform: scale(0.7);
    // }
    .barco {
        width: 400px;
        height: 160px;
        position: relative;
        overflow: hidden;
        animation-name: barco;
        animation-iteration-count: infinite;
        animation-duration: 5s;

        .puertita {
            position: absolute;
            bottom: 0px;
            left: 7px;
            width: 5px;
            height: 10px;
            background-color: $base;
            border-radius: 5px;
        }

        .base {
            position: absolute;
            bottom: 0;
            width: 100%;

            .proa, .popa, .tronco {
                background-color: $base;
            }

            .anclacont {
                position: absolute;
                right: 32px;
                bottom: 36px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: rgba(black, 0.2);
            }

            .atras {
                height: 58px;
                width: 40px;
                border-radius: 10px;
                background-color: $base;
                margin-left: 5px;
                transform: skewX(13deg);
            }

            .popa {
                height: 58px;
                width: 95px;
                transform: skewX(37deg);
                border-radius: 10px 18px 10px 18px;
                position: absolute;
                left: 30px;
                top: 0;
            }

            .tronco {
                width: 347px;
                height: 37px;
                position: absolute;
                left: 9px;
                bottom: 0;
                z-index: 10;

                .marca {
                    height: 14px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0%;
                    -webkit-perspective: 150px;

                    .per {
                        height: 100%;
                        background-color: rgba($accent, 0.4);
                        transform: rotateX(7deg);
                        border-radius: 0 0 3px 3px;
                    }
                }
            }

            .proa {
                height: 58px;
                width: 91px;
                transform: skewX(-47deg);
                border-radius: 14px 10px 10px 18px;
                position: absolute;
                right: 26px;
                top: 0;
            }
        }

        .puente {
            width: 118px;
            height: 124px;
            position: absolute;
            left: 12px;
            top: 0;

            .franja {
                background-color: $base;
                position: absolute;
                bottom: 70px;
                width: 35px;
                height: 5px;
                transform: skewX(-5deg);
                left: 10px;
            }

            .camarote1 {
                position: absolute;
                bottom: 0;
                left: 5px;
                width: 36px;
                height: 70px;
                transform: skewX(-5deg);
                background-color: white;

                &:after {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    right: -2px;
                    background-color: $inbetween;
                    height: 100%;
                    width: 3px;
                    z-index: -1;
                    transform: skewX(3deg);
                }

                .antiskew {
                    transform: skewX(5deg);
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 7px 7px;
                    height: 45px;
                }

                .windows {
                    width: 5px;
                    height: 5px;
                    border-radius: 1px;
                    background-color: $windows;
                    margin: 2px;
                }
            }

            .chimeneal, .chimenear {
                background-color: white;

                .linea {
                    height: 10px;
                    width: 100%;
                    margin-top: 4px;
                    background-color: $accent;
                }
            }

            .chimeneal {
                width: 14px;
                height: 43px;
                position: absolute;
                top: 9px;
                left: 16px;
                transform: skewX(-6deg);
            }

            .chimenear {
                width: 20px;
                height: 43px;
                position: absolute;
                top: 9px;
                left: 19px;
            }
        }

        .fantena {
            position: absolute;
            width: 2px;
            height: 40px;
            left: 87px;
            top: 2px;
            background-color: #3a3939;
            border-radius: 3px;
        }

        .santenea {
            position: absolute;
            width: 2px;
            height: 20px;
            left: 83px;
            top: 19px;
            background-color: #3a3939;
            border-radius: 3px;
        }

        .radar {
            position: absolute;
            height: 20px;
            left: 50px;
            top: 19px;

            .cabeza {
                width: 18px;
                height: 7px;
                background-color: $tower;
                animation-name: radar;
                animation-iteration-count: infinite;
                animation-duration: 1s;
            }

            .soporte {
                width: 4px;
                height: 20px;
                background-color: $tower;
                margin-left: 7px;
                margin-top: -8px;
                border-radius: 1px;
            }
        }

        .control {
            width: 62px;
            height: 57px;
            background-color: $tower;
            position: absolute;
            right: 13px;
            top: 36px;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            border-bottom: solid 1px $inbetween;

            .tapa {
                width: 100%;
                position: absolute;
                top: 0;
                left: 2px;
                background-color: $tower;
                height: 13px;
                transform: skewX(-8deg);
                border-radius: 0 4px 0 0;
                padding: 2px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .top-windows {
                    background-color: $windows;
                    height: 6px;
                    width: 28%;
                    transform: skewX(5deg);
                }
            }

            .mid-windows {
                width: 5px;
                height: 5px;
                border-radius: 1px;
                background-color: $windows;
                display: block;
                margin: 2px;

                &:nth-of-type(7) {
                    margin-left: 10px;
                }
            }

            .puertita {
                bottom: 2px;
            }
        }

        .bajo-camarotes {
            background-color: $tower;
            width: 69px;
            height: 31px;
            position: absolute;
            bottom: 0;
            right: 6px;
            display: flex;
            justify-content: flex-end;
            padding: 5px 5px 14px 41px;
            flex-wrap: wrap;

            &:after {
                content: ' ';
                background-color: $tower;
                position: absolute;
                right: -2px;
                top: 0;
                width: 5px;
                height: 100%;
                transform: rotate(-7deg);
            }

            .ventanitas {
                background-color: $windows;
                width: 5px;
                height: 3px;
                border-radius: 2px;
                margin: 1px;

                &:nth-of-type(4) {
                    margin-left: 4px;
                }
            }
        }

        .contenedores {
            width: 158px;
            height: 80px;
            position: absolute;
            top: 80px;
            right: 102px;
            animation-name: contenedores;
            animation-iteration-count: infinite;
            animation-duration: 5s;

            .contenedor {
                width: 50px;
                height: 16px;
                background-color: #a4b8b9;
                padding: 1px 2px;
                display: flex;
                float: left;
                justify-content: space-around;
                margin-bottom: 1px;
                margin-right: 1px;

                &:nth-of-type(2) {
                    background-color: #4f4a65;
                }

                &:nth-of-type(4) {
                    background-color: #b36730;
                }
            }

            .cal {
                background: black;
                height: 100%;
                width: 2px;
                border-radius: 1px;
                opacity: 0.07;
            }
        }
    }

    .sky {
        width: 500px;
        height: 500px; // border-radius: 50%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        justify-content: center;
        background-color: #fef7e0;

        .water {
            background-color: #105B63;
            width: 100%;
            height: 36%;
            position: absolute;
            bottom: 0;
            left: 0;

            .olacont {
                width: 200%;
                top: -18px;
                position: relative;
                animation-name: ola;
                animation-iteration-count: infinite;
                animation-duration: 30s;
                animation-timing-function: lineal;
            }
        }
    }

    .wave {
        fill: #105B63;
        animation-name: wave;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        position: relative;
    }
</style>